<template>
<div id="appChoice"  class="overflow-y: scroll">

  <div class="d-flex flex-column min-vh-40 justify-content-center align-items-center main-container">

    <div class="row buttons-grid align-items-center">
      <h1 class="header">What Activity Are We Having?</h1>
    </div>

    <div class="row buttons-grid align-items-center justify-content-between topButtonRow">
      <div class="col" @click="goTo('orientation')">
        <RoundButton
          :size="150"
          text='<span style="color: #FFCC00;"><i class="fas fa-directions fa-3x"></i></span><br>Reality<br>Orientation'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('soundTherapy')">
        <RoundButton
          :size="150"
          text='<span style="color: #1B998B;"><i class="fas fa-music fa-3x"></i></span><br>Sound<br>Therapy'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
        <div class="col" @click="goTo('exercises')">
         <RoundButton
          :size="150"
          text='<span style="color: #F46036;"><i class="fas fa-running fa-3x"></i></span><br>Exercises'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
        </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('roleplay')">
        <RoundButton
          :size="150"
          text='<span style="color: #85A1DA;"><i class="fas fa-id-card fa-3x"></i></span><br>Roleplay'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('themeSongChoice')">
         <RoundButton
          :size="150"
          text='<span style="color:  #1B998B;;"><i class="fas fa-headphones fa-3x"></i></span><br>Theme<br>Song'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>

    </div>


    <div class="row buttons-grid align-items-center justify-content-between">
<<<<<<< Updated upstream
       <div class="col-auto"></div>
=======
      <div class="col-auto"></div>
>>>>>>> Stashed changes
      <div class="col" @click="goTo('quiz')">
        <RoundButton
          :size="150"
          text='<span style="color: #34A1AC;"><i class="far fa-question-circle fa-3x"></i></span><br>Quiz'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('memoryGame')">
        <RoundButton
          :size="150"
          text='<span style="color: #EC9126;"><i class="fas fa-head-side-brain fa-3x"></i></span><br>Memory<br>Game'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('categories')">
        <RoundButton
          :size="150"
          text='<span style="color: #106470;"><i class="fas fa-box-full fa-3x"></i></span><br>What Goes<br>Here?'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
      <div class="col-auto"></div>
      <div class="col" @click="goTo('similaritiesGame')">
        <RoundButton
          :size="150"
          text='<span style="color: #5E802C;"><i class="fas fa-star-half-alt fa-3x"></i></span><br>Similarities'
          color="#FFFFFF" :fontSize="20" fontColor="#000000" />
      </div>
<<<<<<< Updated upstream
      <div class="col-auto"></div> 
=======
      <div class="col-auto"></div>
>>>>>>> Stashed changes
    </div>
  </div>

<!-- New button for Dashboard -->

  <!-- <div class="btn-dashboard" @click="goTo('analytics')">
    <span style="position:absolute; right:5vw; bottom:80px;">
      <input type="button" value="Dashboard">
    </span>
  </div> -->

  <div class="d-flex flex-column min-vh-20 justify-content-center align-items-end main-container">
    <div @click="goTo('analytics')" class="rightMargin otherButton">
      <RoundButton
        :size="120" text="Dashboard" color="#4A90E2" :fontSize="20" />
    </div>
  </div>
<<<<<<< Updated upstream
  <!-- New button for Dashboard -->

  <!-- <div class="btn-dashboard" @click="goTo('analytics')">
    <span style="position:absolute; right:5vw; bottom:80px;">
      <input type="button" value="Dashboard">
    </span>
  </div> -->
=======



>>>>>>> Stashed changes
</div>
    

</template>






<script>
import RoundButton from './RoundButton.vue'

export default {
  name: "AppChoice",
  components: { RoundButton },

  methods: {
    goTo(state) {
      if (state=="orientation") {
        this.robot.call(
          "CGHTemplateController", "start_template", null, null,
          "reality orientation", "")
        this.$store.setApp("orientation")
        this.$store.setState("appRunning")
      } else {
        this.$store.setState(state)
      }
      this.robot.setTabletState(this.$store.getStateAsString())
    }
  }
};
</script>