<template>
<div id="appDisplay" :style="backgroundColorStyle">
  <div v-if="state=='text'"
       class="d-flex flex-column min-vh-90 justify-content-center align-items-center main-container text centeredText"
       :style="{'font-size':fontSize}">
    {{ text }}
  </div>
  <div v-if="state=='image'" class="d-flex flex-column min-vh-90 justify-content-start align-items-center image-container">
    <div class="row buttons-grid align-items-center">
      <img :src="image" class="img-fluid" />
      <div v-if="text!=null"
           class="appImageText"
           :style="{'font-size':fontSize}">
        {{ text }}
       </div>
     </div>
  </div>
  <div v-if="state=='appIcon'">
    <div class="d-flex flex-column min-vh-80 justify-content-start align-items-center main-container">

      <div class="row buttons-grid align-items-center">
        <h1 class="header caps">Hello, Welcome to</h1>
      </div>

      <div class="row buttons-grid align-items-center">
        <div class="col-12">
          <RoundButton v-if="appName=='orientation'"
          :size="450"
          text='<span style="color: #FFCC00;"><i class="fas fa-directions fa-3x"></i></span><br>Reality<br>Orientation'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='soundTherapy'"
          :size="450"
          text='<span style="color: #1B998B;"><i class="fas fa-music fa-3x"></i></span><br>Sound<br>Therapy'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='exercises'"
          :size="450"
          text='<span style="color: #F46036;"><i class="fas fa-running fa-3x"></i></span><br>Exercises'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='roleplay'"
          :size="450"
          text='<span style="color: #85A1DA;"><i class="fas fa-id-card fa-3x"></i></span><br>Roleplay'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='themeSong'"
          :size="450"
          text='<span style="color: #85A1DA;"><i class="fas fa-headphones fa-3x"></i></span><br>Theme Song'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton  v-if="appName=='quiz'"
          :size="450"
          text='<span style="color: #34A1AC;"><i class="far fa-question-circle fa-3x"></i></span><br>Quiz'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='memoryGame'"
          :size="450"
          text='<span style="color: #EC9126;"><i class="fas fa-head-side-brain fa-3x"></i></span><br>Memory<br>Game'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='categories'"
          :size="450"
          text='<span style="color: #106470;"><i class="fas fa-box-full fa-3x"></i></span><br>What Goes<br>Here?'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />

          <RoundButton v-if="appName=='similaritiesGame'"
          :size="450"
          text='<span style="color: #5E802C;"><i class="fas fa-star-half-alt fa-3x"></i></span><br>Similarities<br>Game'
          color="#FFFFFF" :fontSize="50" fontColor="#000000" />
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RoundButton from './RoundButton.vue'

export default {
  name: "AppDisplay",
  components: { RoundButton },
  props: {
    appName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      state: "appIcon",
      text: "",
      image: null,
      fontSize: "5vh"
    }
  },
  mounted() {
    this.robot.subscribeToTabletCommands(this.onTabletCommand)
  },
  methods: {
    onTabletCommand(data) {
      console.log("received data")
      const jData = JSON.parse(data)
      this.state = jData.type
      this.text = jData.text
      this.image = jData.image
      this.fontSize = jData.fontSize || "5vh"
    }
  },
  computed: {
    backgroundColorStyle (){
      let style = {
        height: "100vh"
      };
       if (this.appName == "orientation")
        style.background = "#FFCC00"
      else if (this.appName == "soundTherapy")
        style.background = "#1B998B"
      else if (this.appName == "exercises")
        style.background = "#F46036"
      else if (this.appName == "roleplay")
        style.background = "#85A1DA"
      else if (this.appName == "themeSong")
        style.background = "#1B998B"
      else if (this.appName == "memoryGame")
        style.background = "#EC9126"
      else if (this.appName == "categories")
        style.background = "#106470"
      return style
    }
  }
}
</script>