<template>
<!-- <div class="bottomBar flexContainer">
  <div @click="goTo('start')" :class="backVisibility">
    <img class="navImgBtn" src="../assets/back-arrow-icon-white.png" alt="Back" />
  </div>
  <div @click="goTo('appChoice')" :class="appChoiceVisibility">
    App Selection
  </div>
  <div @click="goTo('language')" :class="languageVisibility">
    {{ language }}
  </div>
  <div class="navBtn iconBtn" @click="launchSettings()">
    <img class="navImgBtn" alt="Settings" src="../assets/gears-icon-white.png" />
  </div>
</div> -->

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark bg-reallydark">
  <div class="container-fluid">
    <button :class="backVisibility" @click="goToPreviousState">
      <i class="fas fa-caret-left white nav-link"></i>
    </button>
    <button :class="activityButtonVisibility" @click="stopActivity">
      <i class="fas fa-th-large white nav-link align-middle"></i>Activity
    </button>
    <button class="btn btn-outline-success hidden" type="submit">
      <i class="fas fa-caret-right white nav-link"></i>
    </button>

  </div>
</nav>
</template>

<script>
export default {
  name: "BottomNavigation",
  data () {
    return {
      appsArray: ["orientation", "soundTherapy", "exercises", "roleplay"],
    }
  },
  props: {
    currentStep: {
      required: true,
      type: String
    },
    language: {
      required: true,
      type: String
    }
  },
  methods: {
    goTo (step) {
      this.$store.setState(step)
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    goToPreviousState () {
      let previousState = this.$store.previousState[this.currentStep]
      this.goTo(previousState)
    },
    stopActivity () {
      this.robot.call("CGHTemplateController", "stop_template")
    }
  },
  computed: {
    backVisibility () {
      let classes = "btn btn-outline-success "
      if (this.currentStep == "start" || this.currentStep == "appRunning")
        classes += "hidden"
      return classes
    },
    languageVisibility () {
      let classes = "navBtn borderedNavBtn "
      let langArray = this.appsArray.concat(["appChoice"])
      if (langArray.indexOf(this.currentStep) == -1)
        classes += "hidden"
      return classes
    },
    appChoiceVisibility () {
      let classes = "navBtn borderedNavBtn "
      if (this.appsArray.indexOf(this.currentStep) == -1)
        classes += "hidden"
      return classes
    },
    activityButtonVisibility () {
      let classes = "btn btn-outline-success "
      if (this.currentStep != "appRunning")
        classes += "hidden"
      return classes
    }
  }
}
</script>