<template>
<div> 
	<div class="topbar">
<<<<<<< Updated upstream
    	<p>Analytical Dashboard</p>
    	<Span>
    		<button type="button" class="btn btn-default">
				<i class="fad fa-save fa-inverse"></i>
			</button>
    	</Span>
    </div>
   
 	<div class="sidebar">
      <div class="heading">
        <h1>Dashboard</h1>
      </div>
      <ul id="dashboard" class="dashboard">
      	<li id="listing-1" class="item">
      		<a href="#" class="title" id="link-0">Language</a>
				</li>
      	<li id="listing-2" class="item">
      		<a href="#" class="title" id="link-1">Activity</a>
				</li>
      	<li id="listing-3" class="item">
      		<a href="#" class="title" id="link-2">Location</a>
				</li>
      	<li id="listing-4" class="item">
      		<a href="#" class="title" id="link-3">Occasion</a>
				</li>
      </ul>


      <div class="heading">
        <h1>Time</h1>
      </div>
      <ul id="time" class="time">
      	<li id="listing-5" class="item">
      		<a href="#" class="title" id="link-4">Today</a>
				</li>
      	<li id="listing-6" class="item">
      		<a href="#" class="title" id="link-5">Past 7 days</a>
				</li>
      	<li id="listing-7" class="item">
      		<a href="#" class="title" id="link-6">Past 1 month</a>
				</li>
      	<li id="listing-8" class="item">
      		<a href="#" class="title" id="link-7">Past 6 months</a>
				</li>
        <li id="listing-9" class="item">
      		<a href="#" class="title" id="link-8">Past 1 year</a>
				</li>
        <li id="listing-10" class="item">
      		<a href="#" class="title" id="link-9">Customs</a>
				</li>
      </ul>
    </div>
    
    <div id="chart" class="chart">
    	<p>Your selected dashboard will appear here.</p>
=======
	<p>Analytical Dashboard</p>
		<Span>
		<button type="button" class="btn btn-default">
				<i class="fad fa-save fa-inverse"></i>
				<i class="fas fa-download fa-inverse"></i>
			</button>
		</Span>
	</div>
   
	<div class="sidebar">
		<div class="heading">
			<h1>Dashboard</h1>
		</div>
		<ul id="dashboard" class="dashboard">
			<li id="listing-1" class="item">
				<a href="#" class="title" id="link-0">Language</a>
			</li>
			<li id="listing-2" class="item">
				<a href="#" class="title" id="link-1">Activity</a>
			</li>
			<li id="listing-3" class="item">
				<a href="#" class="title" id="link-2">Location</a>
			</li>
			<li id="listing-4" class="item">
				<a href="#" class="title" id="link-3">Occasion</a>
			</li>
		</ul>


    <div class="heading">
		<h1>Time</h1>
	</div>
		<ul id="time" class="time">
			<li id="listing-5" class="item">
				<a href="#" class="title" id="link-4">Today</a>
			</li>
			<li id="listing-6" class="item">
				<a href="#" class="title" id="link-5">Past 7 days</a>
			</li>
			<li id="listing-7" class="item">
				<a href="#" class="title" id="link-6">Past 1 month</a>
			</li>
			<li id="listing-8" class="item">
				<a href="#" class="title" id="link-7">Past 6 months</a>
			</li>
			<li id="listing-9" class="item">
				<a href="#" class="title" id="link-8">Past 1 year</a>
			</li>
		</ul>

<!--        Dropdown for data picker-->
        <div class="dropdown2">
          <button onclick="myFunction2()" class="dropbtn">Customs</button>
          <div id="myDropdown2" class="dropdown-content" onkeyup="filterFunction2()"> 
            <form>
              <div class="date-select">
                <label for="date-sel">From:</label>
                <input type="date" id="fromdate" name="fromdate">
               <br>
               <br>           
                <label for="date-sel">To:</label>
                <input type="date" id="todate" name="todate">
              </div>
            </form>
          </div>
        </div> 

	</div>
    
    <div id="chart" class="chart">
		<p>Your selected dashboard will appear here.</p>
>>>>>>> Stashed changes
    </div>
 </div>
</template>

<script>
<<<<<<< Updated upstream
  export default {
	   name: 'analytics',
  }
</script>


=======

  export default {
		name: 'analytics',
  }



</script>



>>>>>>> Stashed changes
<style lang="scss" scoped>
</style>