<template>
<div id="exercisesList">
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container" v-if="currentPreset==null">
    <div class="row buttons-grid align-items-center">
      <h1 class="header">Exercises: Presets</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-3" v-for="preset in presetsList" @click="onPresetSelect(preset)">
        <RectangleButton width="90%" height="100px" color="#F46036" :text="preset.config_name" />
      </div>
    </div>
  </div>
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container" v-else>
    <div class="row buttons-grid align-items-center">
      <h1 class="header">Exercise {{ currentPreset.config_name }}: Music</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-3 boxDiv" v-for="music in musicList" :key="music">
        <div class="form-check">
          <input class="form-check-input"
            type="checkbox"
            :value="music" v-model="selectedMusic"
            :id="music">
          <label class="form-check-label bigLabel" :for="music">
            {{ getMusicName(music) }}
          </label>
        </div>
      </div>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center">
      <div class="col-3" @click="onStartExercise()">
        <RectangleButton width="100%" height="100px" color="#F46036" text="START" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RectangleButton from './RectangleButton.vue'

export default {
  name: 'Exercises',
  components: {
    RectangleButton
  },
  data () {
    return {
      template: "exercises",
      presetsList: [],
      currentPreset: null,
      musicList: [],
      selectedMusic: []
    }
  },
  methods: {
    onStartExercise () {
      if (this.selectedMusic.length == 0) {
        alert("please select at least one music")
        return
      }
      this.robot.call(
        "CGHTemplateController", "start_exercise",
        () => {
          console.log("success!")
        },
        (err) => {
          console.log("error: " + err)
        },
        this.template, this.currentPreset.id, this.selectedMusic)
      this.$store.setApp("exercises")
      this.$store.setState("appRunning")
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    onPresetSelect (preset) {
      this.currentPreset = preset
    },
    getMusicName (fileName) {
      return fileName.split(".")[0].toUpperCase()
    },
    fetchPresetsList() {
      this.robot.call("CGHManager", "get_presets_list",
      (data) => {
        this.presetsList = JSON.parse(data)
        this.presetsList.sort((a,b) => {
          if (a.config_name < b.config_name)
            return -1
          return 1
        })
      },
      (err) => {
        console.log("error:", err)
      }, "exercises", "")
    },
    fetchMusicList () {
      this.robot.call("CGHManager", "get_files_list",
      (data) => {
        data.sort()
        this.musicList = data
      },
      (err) => {
        console.log("error:", err)
      }, "exercises/music")
    }
  },
  mounted () {
    this.fetchPresetsList()
    this.fetchMusicList()
  }
}
</script>