<template>
<!-- <div id="headerContainer" class="headerBar flexContainer">
  <div id="sound">{{ soundLevel }}</div>
  <div id="ip">{{ robotIp }}</div>
  <div id="battery">{{ batteryLevel }}</div>
</div> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-reallydark" id="upperNav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-link" >
            <i class="fas fa-volume-up white nav-link"></i>{{ soundLevel }}
          </li>
          <li class="nav-item nav-link" >
            <i class="fas fa-battery-full white nav-link"></i> {{ batteryLevel }}
          </li>
      </ul>

      <button class="btn btn-outline-success" @click="launchSettings">
        <i class="fas fa-cog white nav-link"></i>{{ robotIp }}
      </button>

    </div>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      robotIp: "Not connected",
      soundLevel: "??",
      batteryLevel: "??%"
    }
  },
  props: {
    isRobotTablet: Boolean
  },
  methods: {
    launchSettings () {
      if (this.robot.isConnected) {
        this.robot.call("ALAutonomousLife", "switchFocus", null, null, "boot-config/.", 1)
      }
    },
    getSoundLevel () {
      if (this.robot.isConnected) {
        this.robot.call("ALAudioDevice", "getOutputVolume", (volume) => {
          this.soundLevel = `${volume}`
          setTimeout(this.getSoundLevel, 1000)
        })
      } else {
        setTimeout(this.getSoundLevel, 1000)
      }
    },
    getBatteryLevel () {
      if (this.robot.isConnected) {
        this.robot.call("ALBattery", "getBatteryCharge", (charge) => {
          this.batteryLevel = `${charge}%`
          setTimeout(this.getBatteryLevel, 600000) // 10 min
        })
      } else {
        setTimeout(this.getBatteryLevel, 1000)
      }
    },
    getRobotWifiAddress () {
      if (this.robot.isConnected) {
        this.robot.call("CGHTemplateController", "getRobotIp", (ip) => {
          this.robotIp = ip
        })
      } else {
        setTimeout(this.getRobotWifiAddress, 1000)
      }
    }
  },
  mounted () {
    this.getSoundLevel()
    this.getBatteryLevel()
    this.getRobotWifiAddress()
  }
}
</script>