<template>
<div id="memoryGameList">
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container">

    <div class="row buttons-grid align-items-center">
      <h1 class="header">Memory Game: Presets</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-3" v-for="preset in presetsList" @click="onClicked(preset)">
        <RectangleButton width="90%" height="100px" color="#EC9126" :text="preset.config_name" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RectangleButton from './RectangleButton.vue'

export default {
  name: "MemoryGame",
  components: {
    RectangleButton
  },
  data () {
    return {
      template: "sound therapy",
      presetsList: [],
      language: this.$store.state.language
    }
  },
  mounted () {
    this.fetchPresetsList()
  },
  methods: {
    onClicked (preset) {
      this.robot.call(
        "CGHTemplateController", "start_memory_game",
        () => {
          console.log("success!")
        },
        (err) => {
          console.log("error: " + err)
        },
        preset.id)
      this.$store.setApp("memoryGame")
      this.$store.setState("appRunning")
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    fetchPresetsList() {
      this.robot.call("CGHManager", "get_presets_list",
      (data) => {
        this.presetsList = JSON.parse(data)
        this.presetsList.sort((a,b) => {
          if (a.config_name < b.config_name)
            return -1
          return 1
        })
      },
      (err) => {
        console.log("error:", err)
      }, "memoryGame", this.language)
    }
  },
}
</script>