<template>
<div id="menuWhat">
  <div class="d-flex flex-column min-vh-60 justify-content-between align-items-center main-container">

    <div class="row buttons-grid align-items-start">
      <h1 class="header">What's Happening Now?</h1>
    </div>

    <div class="flexContainer btnGroup" v-if="location=='TODO'">
    </div>

    <div class="row buttons-grid align-items-center justify-content-center" v-if="location=='GDH'" style="width: 100%;">
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('warm up exercises')"
          text='<i class="fab fa-hotjar fa-2x"></i><br>Warm up'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('O.T. session')"
          text='<i class="fas fa-users fa-2x"></i><br>O.T. session'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('Tea break')"
          text='<i class="fas fa-mug-hot fa-2x"></i><br>Tea break'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('Physio exercises')"
          text='<i class="fas fa-spa fa-2x"></i><br>Physio'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center" v-if="location=='GDH'" style="width: 100%; margin-top: -40px; margin-bottom: -40px;">
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('Lunch time')"
          text='<i class="fas fa-utensils fa-2x"></i><br>Lunch time'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('Nurse-led Activities')"
          text='<i class="fas fa-user-nurse fa-2x"></i><br>Nurse-led'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="bubbleSize" @click="onClicked('GDH Engage')"
          text='<i class="fas fa-people-arrows fa-2x"></i><br>GDH Engage'
          color="#F0A042" :fontSize="bubbleFontSize" />
      </div>
    </div>

    <div class="row buttons-grid align-items-center justify-content-between" v-else>
      <div class="col-3" >
        <RoundButton
          :size="250" @click="onClicked('Pre-breakfast')"
          text='<i class="fas fa-egg fa-2x"></i><br>Pre-<br>Breakfast'
          color="#F0A042" :fontSize="40" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="250" @click="onClicked('Pre-lunch')"
          text='<i class="fas fa-drumstick-bite fa-2x"></i><br>Pre-<br>Lunch'
          color="#F46036" :fontSize="40" />
      </div>
      <div class="col-3" >
        <RoundButton
          :size="250" @click="onClicked('Pre-dinner')"
          text='<i class="fas fa-hamburger fa-2x"></i><br>Pre-<br>Dinner'
          color="#0C43B6" :fontSize="40" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-column min-vh-20 justify-content-center align-items-end main-container">
    <div @click="onClicked('OTHER')" class="rightMargin">
      <RoundButton
        :size="120" text="Others" color="#4A90E2" :fontSize="20" />
    </div>
  </div>


</div>
</template>

<script>
import RoundButton from './RoundButton.vue'

export default {
  name: 'MenuWhat',
  components: { RoundButton },
  props: {
    location: String
  },
  data () {
    return {
      bubbleSize: 170,
      bubbleFontSize: 25
    }
  },
  methods: {
    onClicked (activity) {
      this.$store.setWorkflow(activity)
      this.$store.setState("language")
      this.robot.setTabletState(this.$store.getStateAsString())
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 6vw;
}
</style>