<template>
<div id="menuWhere">
  <div class="d-flex flex-column min-vh-60 justify-content-center align-items-center main-container">
    <div class="row buttons-grid align-items-center">
      <h1 class="header">
        Hello, I’m Pepper!<br/>
        Where Am I Now?
      </h1>

      <div class="row buttons-grid align-items-center">

          <div class="col-5 offset-1" @click="onClicked('GDH')">
            <RoundButton
              :size="200" text="GDH" color="#1B998B" />
          </div>

          <div class="col-5" @click="onClicked('WARD')">
            <RoundButton
              :size="200" text="WARD" color="#E39616" />
          </div>

        </div>
      </div>
    </div>

  <div class="d-flex flex-column min-vh-20 justify-content-center align-items-end main-container">
    <div @click="onClicked('OTHER')" class="rightMargin otherButton">
      <RoundButton
        :size="120" text="Others" color="#4A90E2" :fontSize="20" />
    </div>
  </div>
</div>
</template>

<script>
import RoundButton from './RoundButton.vue'

export default {
  name: 'MenuWhere',
  components: { RoundButton },
  methods: {
    onClicked (location) {
      try {
        this.$store.setState("what")
        this.$store.setLocation(location)
        this.robot.setTabletState(this.$store.getStateAsString())
      } catch(error) {
        console.log(error.stack)
      }
    }
  }
}
</script>

<style scoped>
.otherButton {
  margin-top: -20px;
}
</style>