<template>
<div id="menuWhat">

  <div class="d-flex flex-column justify-content-center align-items-center main-container">
    <div class="row buttons-grid align-items-center">
      <h1 class="header">Select a Language</h1>
    </div>

    <div class="row buttons-grid topButtonRow align-items-center justify-content-between">
      <div class="col-5" @click="onClicked('English')">
        <RoundButton
          :size="160"
          text='English'
          color="#0C43B6" :fontSize="35" />
      </div>
      <!-- <div class="col-2"></div> -->
      <div class="col-5" @click="onClicked('Chinese')">
        <RoundButton
          :size="160"
          text='中文'
          color="#BF1E2D" :fontSize="35" />
      </div>
    </div>

    <div class="row buttons-grid align-items-center justify-content-between">
      <div class="col-5" @click="onClicked('Malay')">
        <RoundButton
          :size="160"
          text='Melayu'
          color="#1B998B" :fontSize="35" />
      </div>
      <!-- <div class="col-2"></div> -->
<<<<<<< Updated upstream
      <div class="col-5" @click="onClicked('Tamil')">
=======
      <!-- <div class="col-5" @click="onClicked('Tamil')"> -->
      <div class="col-5">
>>>>>>> Stashed changes
        <RoundButton
          :size="160"
          text='தமிழ்'
          color="#9013FE" :fontSize="35" />
      </div>
    </div>
  </div>
</div>

</template>

<script>
import RoundButton from './RoundButton.vue'

export default {
  name: 'MenuLanguage',
  components: { RoundButton },
  methods: {
    onClicked (language) {
      this.robot.call("CGHTemplateController", "set_language", null, null, language)
      this.$store.setLanguage(language)
      this.$store.setState("appChoice")
      this.robot.setTabletState(this.$store.getStateAsString())
    }
  }
}
</script>