<template>
  <div id="quizList">
    <div
      class=" flex-column min-vh-40 justify-content-center align-items-center main-container " >
      <div class="row buttons-grid align-items-center">
        <h1 class="header">Quiz: Presets</h1>
      </div>
      <div
        class="row buttons-grid align-items-center justify-content-center topButtonRow">
        <div class="col-3" v-for="preset in presetsList" @click="onClicked(preset)">
          <RectangleButton width="90%" height="100px"color="#1B998B" :text="preset.config_name" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RectangleButton from "./RectangleButton.vue";

export default {
  name: "Quiz",
  components: {
    RectangleButton,
  },
  data() {
    return {
      template: "quiz",
      presetsList: [],
      language: this.$store.state.language,
    };
  },
  mounted() {
    this.fetchPresetsList();
  },
  methods: {
    onClicked(preset) {
      console.log(preset);
      this.robot.call(
        "CGHTemplateController",
        "start_template",
        () => {
          console.log("success!");
        },
        (err) => {
          console.log("error: " + err);
        },
        this.template,
        preset.id
      );
      this.$store.setApp("quiz");
      this.$store.setState("appRunning");
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    fetchPresetsList() {
      this.robot.call(
        "CGHManager",
        "get_presets_list",
        (data) => {
          this.presetsList = JSON.parse(data);
          this.presetsList.sort((a, b) => {
            if (a.config_name < b.config_name) return -1;
            return 1;
          });
        },
        (err) => {
          console.log("error:", err);
        },
        "quiz",
        this.language
      );
    },
  },
};
</script>

<style lang="scss" scoped>
</style>