<template>
<div id="realityOrientationList" class="flexContainer menuWindow">
  <h1 class="menuTitle">Reality Orientation</h1>
  <div class="flexContainer btnGroup startAppBtn">
    <div class="rectangle shape" @click=onClicked>
      <span class="btnText">Start Activity</span>
    </div>
    <div class="break large"></div>
  </div>
</div>
</template>

<script>
export default {
  name: 'RealityOrientation',
  data () {
    return {
      template: "reality orientation"
    }
  },
  methods: {
    onClicked () {
      this.robot.call(
        "CGHTemplateController", "start_template",
        () => {
          console.log("success!")
        },
        (err) => {
          console.log("error: " + err)
        },
        this.template, "orientation1.json")
      this.$store.setState("appRunning")
      this.robot.setTabletState(this.$store.getStateAsString())
    }
  }
}
</script>