<template>
  <button class="roundBtn" :style="btnStyle" v-html="text"></button>
</template>

<script>
export default {
  name: 'RectangleButton',
  props: {
    width: {
      type: String,
      required: true
    },
    height: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    fontSize: {
      type: Number,
      default: 40
    },
    fontColor: {
      type: String,
      default: "#FFFFFF"
    }
  },
  data () {
    return {
      btnStyle: {
        width: this.width,
        height: this.height,
        "border-radius": "10px",
        "background-color": this.color,
        "font-size": this.fontSize + "px",
        "line-height": this.fontSize + "px",
        color: this.fontColor
      }
    }
  }
}
</script>