<template>
<div>
  <div class="message">
    <h1>Activity Is Running.</h1>
  </div>

  <div class="warning">
    <i class="fas fa-exclamation-triangle warningicon" style="font-size:70px;color:rgba(248, 204, 61, 1);"></i>
    <p class="texts">Check for obstacles first. <br> Pepper cannot sense what is behind it.</p>
    <p class="texts"></p>
  </div>

  <hr class="remoteControlDivider">

  <div class="controlPanel">
    <div class="move">
      <div class="row justify-content-center" v-if="mobility">
        <div class="col-auto">
          <button type="button" class="btn btn-default" @click="move('front')">
            <i class="fas fa-arrow-circle-up"></i>
          </button>
        </div>
      </div>
      <div class="row row2 justify-content-center" v-if="mobility">
        <div class="col-5">
          <button type="button" class="btn btn-default" @click="move('strafe_left')">
            <i class="fas fa-arrow-circle-left"></i>
          </button>
        </div>
        <div class="col-5" v-if="mobility">
          <button type="button" class="btn btn-default" @click="move('strafe_right')">
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="row justify-content-center" v-if="mobility">
        <div class="col-auto">
          <button type="button" class="btn btn-default" @click="move('back')">
            <i class="fas fa-arrow-circle-down"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="play-button overflow-hidden">
      <div class="row">
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-default" @click="pause">
            <i class="fas fa-pause"></i>
          </button>
          <button type="button" class="btn btn-default" @click="resume">
            <i class="fas fa-play"></i>
          </button>
          <button type="button" class="btn btn-default" @click="skipForward" v-if="skipRepeat">
            <i class="fas fa-step-forward"></i>
          </button>
<<<<<<< Updated upstream
          <button type="button" class="btn btn-default"  @click="skipBack" v-if="skipRepeat">
            <i class="fas fa-solid fa-repeat"></i>
=======
          <button type="button" class="btn btn-default fa-stack fa-2x" @click="skipBack">
            <i class="fas fa-undo-alt fa-stack-2x"></i>
            <i class="fas fa-play repeat-play"></i>
>>>>>>> Stashed changes
          </button>
        </div>

      </div>
    </div>

    <div class="row turn overflow-hidden mb-5">
      <div class="d-flex justify-content-around d-inline-flex p-4" v-if="mobility">
        <button type="button" class="btn btn-success btn-circle" @click="move('rotate_left')">
          <i class="fas fa-undo"></i>
        </button>
        <button type="button" class="btn btn-success btn-circle" @click="move('rotate_right')">
          <i class="fas fa-undo fa-flip-horizontal"></i>
        </button>
      </div>
    </div>

  </div>
</div>
</template>

<script>
export default {
  name: "RemoteControl",
  data () {
    return {
      is_moving: false
    };
  },
  methods: {
    pause () {
      this.robot.call("CGHTemplateController", "pause_template")
    },
    resume () {
      this.robot.call("CGHTemplateController", "resume_template")
    },
    skipForward () {
      this.robot.call("CGHTemplateController", "skip_forward")
    },
    skipBack () {
      this.robot.call("CGHTemplateController", "skip_backward")
    },
    move (direction) {
      let that = this
      if (!this.is_moving) {
        this.is_moving = true
        this.robot.call("CGHTemplateController", "move", () => {
          that.is_moving = false
        }, console.log, direction)
      
      }
    }
  },
  computed: {
    skipRepeat () {
      // TODO: add new apps "whatGoesHere", "memoryGame", "similarities"
      return ["soundTherapy", "quiz","similaritiesGame"].indexOf(this.$store.state.currentApp) != -1
    },
    mobility () {
      // everything BUT exercises
      return this.$store.state.currentApp != "exercises"
    }
  }
}
</script>