<template>
<!-- <div id="realityOrientationList" class="flexContainer menuWindow">
  <h1 class="menuTitle">Roleplay</h1>
  <div class="flexContainer btnGroup startAppBtn">
    <div class="rectangle shape" @click=onClicked>
      <span class="btnText">Start Activity</span>
    </div>
    <div class="break large"></div>
  </div>
</div> -->
<div id="roleplayList">
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container">

    <div class="row buttons-grid align-items-center">
      <h1 class="header">Roleplay Scenarios</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-4" @click="onChooseScenario('scenario1', 'Scenario 1')">
        <RectangleButton width="90%" height="100px" color="#1B998B" text="Scenario 1" />
      </div>
      <div class="col-4" @click="onChooseScenario('scenario2', 'Scenario 2')">
        <RectangleButton width="90%" height="100px" color="#1B998B" text="Scenario 2" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RectangleButton from './RectangleButton.vue'

export default {
  name: 'Roleplay',
  components: {
    RectangleButton
  },
  data () {
    return {
      template: "roleplay",
      language: this.$store.state.language
    }
  },
  methods: {
    onClicked (config) {
      this.robot.call(
        "CGHTemplateController", "start_template", null, null,
        "roleplay", config)
      this.$store.setApp("roleplay")
      this.$store.setState("appRunning")
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    onChooseScenario (name, display) {
      this.$store.setScenario(name, display)
      this.$store.setState("roleplayChoice")
    }
  }
}
</script>