<template>
<div id="roleplayPresetsList">
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container">

    <div class="row buttons-grid align-items-center">
      <h1 class="header">{{ template_text }}: Presets</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-3" v-for="preset in presetsList" @click="onClicked(preset.id)">
        <RectangleButton v-if="template=='scenario1'"
          width="90%" height="100px" color="#1B998B"
          :text="preset.main_food_text" />
        <RectangleButton v-if="template=='scenario2'"
          width="90%" height="100px" color="#1B998B"
          :text="preset.festival_name" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RectangleButton from './RectangleButton.vue'

export default {
  name: "RoleplayPresets",
  components: {
    RectangleButton
  },
  data () {
    return {
      template: this.$store.state.roleplaySettings.scenarioName,
      template_text: this.$store.state.roleplaySettings.scenarioDisplay,
      presetsList: [],
      language: this.$store.state.language
    }
  },
  mounted () {
    this.fetchPresetsList()
  },
  methods: {
    onClicked (preset) {
      this.robot.call(
        "CGHTemplateController", "start_roleplay", null, null,
        this.template, preset)
      this.$store.setApp("roleplay")
      this.$store.setState("appRunning")
      this.robot.setTabletState(this.$store.getStateAsString())
    },
    fetchPresetsList() {
      this.robot.call("CGHManager", "get_roleplay_list",
      (data) => {
        this.presetsList = JSON.parse(data)
        this.presetsList.sort((a,b) => {
          if (a.main_food_text < b.main_food_text)
            return -1
          return 1
        })
      },
      (err) => {
        console.log("error:", err)
      }, this.template, this.language)
    }
  }
}
</script>