<template>
  <button
    class="roundBtn"
    :style="btnStyle"
    @click="$emit('click')"
    v-html="text">
    </button>
</template>

<script>
export default {
  name: 'RoundButton',
  props: {
    size: {
      type: Number,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    fontSize: {
      type: Number,
      default: 40
    },
    fontColor: {
      type: String,
      default: "#FFFFFF"
    }
  },
  data () {
    return {
      btnStyle: {
        width: this.size + "px",
        height: this.size + "px",
        "border-radius": this.size/2 + "px",
        "background-color": this.color,
        "font-size": this.fontSize + "px",
        "line-height": this.fontSize + "px",
        color: this.fontColor
      }
    }
  }
}
</script>