<template>
<div class="slidecontainer">
    <i class="fas fa-volume-down"></i>
    <input type="range" :model="soundLevel" :value="soundLevel"
      @change="setSoundLevel" min="0" max="100"
      class="slider" id="customRange1">
    <i class="fas fa-volume-up"></i>
</div>
<!--
  <div class="volume d-flex justify-content-around">
    <i class="fas fa-volume-off" style="font-size:40px;color:black;"></i>
    <input id="volume" type="range" min="0" max="100" value="60">
    <i class="fas fa-volume-high" style="font-size:40px;color:black;"></i>
  </div>
-->
</template>

<script>
export default {
  name: 'SoundSetting',
  data () {
    return {
      soundLevel: 0
    }
  },
  methods: {
    getSoundLevel () {
      if (this.robot.isConnected) {
        this.robot.call("ALAudioDevice", "getOutputVolume", (volume) => {
          this.soundLevel = volume
          setTimeout(this.getSoundLevel, 1000)
        })
      } else {
        setTimeout(this.getSoundLevel, 1000)
      }
    },
    setSoundLevel (evt) {
      if (this.robot.isConnected) {
        const level = parseInt(evt.target.value)
        this.robot.call("ALAudioDevice", "setOutputVolume", null, null, level)
      }
    }
  },
  mounted () {
    this.getSoundLevel()
  }
}
</script>