<template>

<div id="ThemeSongList">
  <div class="flex-column min-vh-40 justify-content-center align-items-center main-container">

    <div class="row buttons-grid align-items-center">
      <h1 class="header">Theme Songs</h1>
    </div>
    <div class="row buttons-grid align-items-center justify-content-center topButtonRow">
      <div class="col-3" v-for="preset in presetsList">
      <div  @click="onClicked(preset)">
        <RectangleButton   width="90%" height="100px" color="#1B998B" :text="preset.name" :fontSize="35" />
      </div>
      <br/>
      
      <div class="row justify-content-between">
        <div class="col" @click="previewSong(preset)">
          <RectangleButton   
          width="80%" height="45px" color="#fff" text="<i class='fa fa-play' style='color:black'></i>&nbsp Play"
          :fontSize="20" fontColor="#2c2c2c" />
        </div>
          
        <br/>

        <!-- <div class="col-1"></div> -->
      
        <div class="col" @click="stopSong()">
          <RectangleButton   
          width="80%" height="45px" color="#fff" text="<i class='fa fa-stop' style='color:black'></i>&nbsp Stop"
          :fontSize="20" fontColor="#2c2c2c" />
        </div>

        <!-- <button  class='	fa fa-stop ' style='color:black' @click="stopSong()"></button> -->
      </div>
      
     </div>
    </div>
  </div>
</div>
  
</template>

<script>
import RectangleButton from "./RectangleButton.vue";
export default {
  name: "ThemeSong",

  components: {
    RectangleButton,
  },

  data() {
    return {
      template: "theme song",
      presetsList: [],
      presetData: {},
      language: this.$store.state.language,
      path: "themeSong/presets",
    };
  },

  mounted() {
    this.fetchPresetsList();
  },

  methods: {
    previewSong(preset) {
      this.robot.call(
        "CGHTemplateController",
        "preview_theme_song",
        () => {
          console.log("success!");
        },
        (err) => {
          console.log("error: " + err);
        },
        preset.id
      );
    },

    stopSong() {
      console.log("stop");
      //    this.robot.call("ALAudioPlayer","stopAll",null,null,null)
      this.robot.call(
        "CGHTemplateController",
        "stop_theme_song",
        () => {
          console.log("success!");
        },
        (err) => {
          console.log("error: " + err);
        }
      );
    },

    onClicked(preset) {
      this.robot.call(
        "CGHTemplateController",
        "setup_theme_song",
        () => {
          console.log("success!");
        },
        (err) => {
          console.log("error: " + err);
        },
        preset.id,
        this.$store.state.visit
      );
      this.$store.setApp("themeSong");
      this.$store.setState("appRunning");
      this.robot.setTabletState(this.$store.getStateAsString())
    },

    fetchPresetsList() {
      this.robot.call(
        "CGHManager",
        "get_json_from_path",
        (data) => {
          let themesongdata = JSON.parse(data);
          this.presetsList = themesongdata.presetData;
          // console.log(this.presetsList)
        },
        null,
        this.path + "/preset.json"
      );
    },
  },
};
</script>

