<template>
   <div class="d-flex flex-column min-vh-40 justify-content-center align-items-center main-container">

   <div v-if="showVisitChoice==true">
    <div class="row buttons-grid align-items-center">
      <h1 class="header"> Theme Song : Start with</h1>
    </div>

      <div class="row buttons-grid align-items-center justify-content-between">
       <div class="col-5" @click="goTo('firstVisit')">
        <RoundButton
          :size="190"
          text='<span style="color:  #FFFFFF;;"></i></span><br>1st Visit'
          color="#1B998B" :fontSize="25" fontColor="#FFFFFF" />
       </div>
          <div class="col-2"></div>
          <div class="col-5" @click="goTo('seconvisit')">
        <RoundButton
          :size="190"
          text='<span style="color: #FFFFFF;"></span><br>2nd visit /<br>End of Session'
          color="#F46036" :fontSize="25" fontColor="#FFFFFF" />

      </div>
    </div>
   </div>
   </div>
</template>

<script>
import RoundButton from "./RoundButton.vue";

export default {
  name: "ThemeSongChoice",
  components: { RoundButton },
  data() {
    return {
      showVisitChoice: true,
      pathToPackage : "/home/nao/.local/share/PackageManager/apps/cgh-main/data/themeSong/",
      language : this.$store.state.language,
      themeSongIntro: {
        English: {
          first: {
            step1:
              "\\rspd=75\\Hi, I’m Pepper. It’s really great to see you today!\\pau=200\\",
            step2:
              "\\rspd=75\\Before we start our activities, let’s choose a name for our group!\\pau=200\\",
            step3: [
              "\\rspd=75\\Shall we listen to some songs to decide?",
              "\\rspd=75\\Let's listen to some songs and pick our favourite one.",
            ],
          },
          second: {
            step1:
              "\\rspd=75\\Hello! I’m glad to see all of you again.Thank you for participating in today’s session\\pau=200\\",
            step2:
              "\\rspd=75\\Do you remember what our chosen theme song was?\\pau=200\\",
            step3: [
              "\\rspd=75\\Shall we sing it together again?;",
              "\\rspd=75\\Let's try to remember!",
            ],
          },
        },
        Chinese: {
          first: {
            step1:
              "\\rspd=75\\哈啰,你好!我是Pepper。很高兴能与你们见面!\\pau=200\\",
            step2:
              "\\rspd=75\\在开始活动之前, 让我们为这个小组取个组名吧\\pau=200\\",
            step3: [
              "\\rspd=75\\我们听听一些歌曲再决定好吗?",
              "\\rspd=75\\我们来听听几首歌再选我们最喜爱的吧.",
            ],
          },
          second: {
            step1:
              "\\rspd=75\\我很高兴今天能见到你们。谢谢你们今天那么热情的参与\\pau=200\\",
            step2: "\\rspd=75\\你还记得我们选的歌曲吗?\\pau=200\\",
            step3: [
              "\\rspd=75\\我们再唱一遍,好吗?",
              "\\rspd=75\\我们尝试记得这首歌,好吗!",
            ],
          },
        },
        
      },
      speech: {},
    };
  },
  methods: {
    sleep(ms) {
      return new Promise((resolve) => {
        setTimeout(resolve, ms);
      });
    },
    randomStep(stepList) {
      const reandom = Math.floor(Math.random() * stepList.length);
      return stepList[reandom];
    },
    setSpeech(visit) {
      const language = this.$store.state.language;
      if (language == "English") {
        if (visit == "firstVisit") {
          this.speech = this.themeSongIntro.English.first;
        } else {
          this.speech = this.themeSongIntro.English.second;
        }
      } else if (language == "Chinese") {
        if (visit == "firstVisit") {
          this.speech = this.themeSongIntro.Chinese.first;
        } else {
          this.speech = this.themeSongIntro.Chinese.second;
        }
        
      }
      return this.speech;
    },
    async goTo(visit) {
      console.log(this.language)
      this.setSpeech(visit);
      if (this.language=="English" || this.language=="Chinese" )
      {
      this.robot.call("ALAnimatedSpeech", "say", null, null, this.speech.step1);
      this.$store.setApp("themeSong");
      this.$store.setState("appRunning");
      
      this.robot.setTabletState(this.$store.getStateAsString())
      await this.sleep(5000);
      this.robot.call("ALAnimatedSpeech", "say", null, null, this.speech.step2);
      await this.sleep(5000);
      let step3 = this.randomStep(this.speech.step3);
      this.robot.call("ALAnimatedSpeech", "say", null, null, step3);
      await this.sleep(10000);
      
    }
    else{
        // let step1 = this.pathToPackage+this.language+"\\"+this.speech.step1
        console.log("else call")
        this.$store.setApp("themeSong");
        this.$store.setState("appRunning");
         this.robot.setTabletState(this.$store.getStateAsString())
        this.robot.call("CGHTemplateController", "theme_song_intro", 
        (data)=>{
          console.log("data")
          let themesongdata = JSON.parse(data);
          console.log(themesongdata)
        },
        (err) => {
          console.log("error: " + err);
        },
         this.language,visit);
        
      await this.sleep(30000);

    }
    this.$store.state.visit = visit;
    this.$store.setState("themeSong");
    this.$store.setApp("appRunning");
    this.robot.setTabletState(this.$store.getStateAsString())
    },
  },
};
</script>

<style>
</style>