<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="js/qimessaging.js"></script>

    <!-- Bootstrap -->
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>style.css">
    <link href="css/all.css" rel="stylesheet">
    <!--load all styles -->

    <title>Activity Launcher</title>
</head>

<body>
    <noscript>
      <strong>We're sorry but activity-launcher doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>