.titleBar {
  background: lightgrey;
}

.slidecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  position: absolute;
  bottom: 10%;
  left:  40%;
  width: 20%;
}
.slider {
  width: 90%;
  margin: 0 10px;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./font/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./font/Montserrat-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: FontAwesome5Pro-Solid;
  src: url("./fonts/Font Awesome 5 Pro-Solid-900.otf");
  font-weight: normal;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

.borderedBox {
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 10px 0;
}

.roundBtn {
  color: #fff;
  border-width: 0px;
  box-shadow: 1px 2px 5px black;
  font-family: Montserrat-Bold, Montserrat;
  margin: 0 0 10px 0;
}

.rightMargin {
  margin-right: 5px;
}

.topButtonRow {
  margin: 20px 40px 20px 40px; 
}

.centeredText {
  text-align: center;
}

.boxDiv {
  border: 1px solid darkgray;
  border-radius: 5px;
}


body{background: #C9F0FF;
}

.bg-reallydark {
  background-color: rgba(33, 37, 41, 1.0) !important;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.unselectable {
  user-select: none;
}

body.reality-orientation{background: #FFCC00;
}

body.sound-therapy{background: #1B998B; color: #fff !important;
}

.main-container {
    padding: 0.5em 0em;
}

.image-container {
  position: relative;
  height: 100vh;
}

.appImageText {
  background-color: rgba(0,0,0,0.4);
  height: 20vh;
  position: absolute;
  width: 100vw;
  bottom: 8vh;
  left: 0;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  font-family: Montserrat-Bold;
  font-weight: bold;
  line-height: 1;
}

.buttons-grid{
    text-align: center;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

.vh-90 {
  height: 90vh !important;
}

.min-vh-90 {
  min-height: 95vh !important;
}

.vh-90 {
  height: 90vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.min-vh-70 {
  min-height: 70vh !important;
}

.vh-60 {
  height: 60vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.vh-40 {
  height: 40vh !important;
}

.min-vh-40 {
  min-height: 40vh !important;
}

.vh-30 {
  height: 30vh !important;
}

.min-vh-30 {
  min-height: 30vh !important;
}

.vh-20 {
  height: 20vh !important;
}

.min-vh-20 {
  min-height: 20vh !important;
}

.vh-10 {
  height: 10vh !important;
}

.min-vh-10 {
  min-height: 10vh !important;
}

.left {
  background: grey;
}

.right {
  background: black;
}

.white{
    color: #ffffff !important;
    padding: 0 0.5em;
}

.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.btn-outline-success {
    color: #ffffff;
    border: none;
}



.fixed-bottom i.fas.white.nav-link {
    font-size: 2.5em;
}

nav.navbar.fixed-bottom {
    padding: 0;
    margin: 0;
}

.fixed-bottom li.nav-item.nav-link {
    padding: 0;
    margin: 0;
}

.fixed-bottom .btn {
    padding: 0.2em 2em;
}

.main-wrapper {
  height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;
  width: 100%;
  margin: 15px 0;
}

.full {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  margin: 0 0;
}

h4 {
  color: white;
}


h1.header{
font-family: Montserrat-Bold;
font-size: 60px;
letter-spacing: 0;
text-align: center;
    padding-bottom: 0.1em
}

.caps{
    text-transform: uppercase;
}

.center-icon{
    margin: 0 auto;
        width: 100%;
}

.text {
  font-family: Montserrat-Bold;
  font-weight: bold;
  line-height: 1;
}

.lg-text{
    font-size: 18em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
}

.lg-text-good-job{
     font-size: 12em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
}

.lg-text-answer{
     font-size: 10em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
    color: #fff;
        background: rgba(0,0,0,0.3);
}

.answer-spread{
    width: 100%;
    padding: 1em 0;
}

.answer-row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
        display: contents;
}



/* remote control stuff */

.message>h1 {
  color: #1c1c1c;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 84px;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-top: 0vh;
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.warningicon{
  margin: 0 10px;
}
.texts {
  margin: 0;
}

.remoteControlDivider {
  margin: 0 auto;
  width:80vw;
}

.controlPanel {
  margin-top: 4vh;
}

.move {
  width: 33.3%;
  display: inline-block;
/*  margin: 0 -2vw 0 2vw;*/
}

.move i {
  color: #408458;
  font-size: 80px;
}

.row2 {
  display: flex;
  text-align: center;
}


.play-button {
  width: 33.3%;
  display: inline-block;
  margin-bottom: 4rem;
}

.play-button i{
  color: #2C2C2C;
  font-size: 80px;
}


.volume {
  margin-top: 40px;
  text-align: center;
}

#volume {
  width: 70%;
  margin: 0 10px 0 10px;
}

.turn {
  display: inline-block;
  width: 33.3%;
}

.texts {
  color: #333;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 26px;
  line-height: 1.3;
}


.btn-circle {
    width: 90px;
    height: 90px;
    padding: 6px 0px;
    border-radius: 90px;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    line-height: 1.42857;
}

<<<<<<< Updated upstream

i.repeat-play {
  font-size: 30px;
  position: relative;
  bottom: -5px;
  left: 5px;
  
=======
i.repeat-play {
    font-size: 30px;
    position: relative;
    bottom: -5px;
    left: 5px;
    
>>>>>>> Stashed changes
}


/* dashboard css */

.sidebar {
<<<<<<< Updated upstream
position: absolute;
width: 20%;
height: 100%;
top: 40px;
left: 0;
overflow: hidden;
border-right: 1px solid rgba(0, 0, 0, 0.25);
background-color: #F5F4F3;
padding-left: 10px;
=======
  position: absolute;
  width: 20%;
  height: 100%;
  top: 40px;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #F5F4F3;
  padding-left: 10px;
>>>>>>> Stashed changes
}


.topbar {
<<<<<<< Updated upstream
position: absolute;
width: 100%;
height: 40px;
background-color: #171717;
top: 0;
left: 0;
color:aliceblue;
text-align: center;
font-family: Montserrat;
font-weight: bold;
}

.topbar p {
color: white;
margin: 10px 0 0 80px;
display: inline-block;
}

.topbar button {
position: relative;
float: right;
margin: -8px 40px 0 0;
font-size: 30px;
}

.heading h1 {
font-size: 20px;
font-weight: 800;
padding: 10px 10px 10px 10px;
}

a {
text-decoration: none;
=======
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #171717;
  top: 0;
  left: 0;
  color:aliceblue;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
}

.topbar p {
  color: white;
  margin: 10px 0 0 80px;
  display: inline-block;
}

.topbar button {
  position: relative;
  float: right;
  margin: -8px 40px 0 0;
  font-size: 30px;
}

.topbar button i{
  margin-left: 30px;
}

.heading h1 {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 10px 10px 10px;
}

a {
  text-decoration: none;
>>>>>>> Stashed changes
}


.heading {
<<<<<<< Updated upstream
background-color: #F5F4F3;
color: #222222;
}

.dashboard {
overflow: auto;
padding-bottom: 10px;
}

.dashboard .item {
display: block;
border-bottom: 0.5px solid #818181;
padding: 4px 0px 4px 10px;
text-decoration: none;
}

.dashboard .item .title {
display: block;
color: #222222;
font-weight: 100;
font-size: 16px;
font-weight: 400;
=======
  background-color: #F5F4F3;
  color: #222222;
}

.dashboard {
  overflow: auto;
  padding-bottom: 10px;
}

.dashboard .item {
  display: block;
  border-bottom: 0.5px solid #818181;
  padding: 4px 0px 4px 10px;
  text-decoration: none;
}

.dashboard .item .title {
  display: block;
  color: #222222;
  font-weight: 100;
  font-size: 16px;
  font-weight: 400;
>>>>>>> Stashed changes
}


.time {
<<<<<<< Updated upstream
overflow: auto;
padding-bottom: 10px;
}

.time .item {
display: block;
border-bottom: 0.5px solid #818181;
padding: 4px 0px 4px 10px;
text-decoration: none;
}

.time .item .title {
display: block;
color: #222222;
font-size: 16px;
font-weight: 400;
=======
  overflow: auto;
  margin-bottom: 0;
}

.time .item {
  display: block;
  border-bottom: 0.5px solid #818181;
  padding: 4px 0px 4px 10px;
  text-decoration: none;
}

.time .item .title {
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
>>>>>>> Stashed changes
}


.chart {
<<<<<<< Updated upstream
position: absolute;
background: #d1effd;
color: rgb(18, 18, 18);
font-size: 40px;
left: 20%;
width: 80%;
height: 100%;
top: 40px;
bottom: 0;
}

.chart p {
text-align: center;
margin-top: 30%;
}

#listing-1:hover {
background-color: #b5b5b5;
}
=======
  position: absolute;
  background: #d1effd;
  color: rgb(18, 18, 18);
  font-size: 40px;
  left: 20%;
  width: 80%;
  height: 100%;
  top: 40px;
  bottom: 0;
}

.chart p {
  text-align: center;
  margin-top: 30%;
}

.item:hover, item:focus, item:active {
  background-color: #f0a042;
}

.date-select {
  font-size: 16px;
  padding-left: 2rem;
}


.dropbtn {
  background-color: #F5F4F3;
  color: black;
  margin-left: 32px;
  padding: 6px 200px 6px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f0a042;
}



.dropdown2 {
  position: relative;
  display: block;
}

.date-select {
  margin-top: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}
/*

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
*/

.show {display:contents;}
>>>>>>> Stashed changes
