<template>
  <div id="app" class="unselectable">
    <Header v-if="$store.state.currentStep!='appRunning'" :isRobotTablet="isRobotTablet" />
    <MenuWhere v-if="$store.state.currentStep=='start'"/>
    <MenuWhat v-if="$store.state.currentStep=='what'"
              :location="$store.state.analytics.location" />
    <MenuLanguage v-if="$store.state.currentStep=='language'" />
    <AppChoice v-if="$store.state.currentStep=='appChoice'" />
    <RealityOrientation v-if="$store.state.currentStep=='orientation'" />
    <SoundTherapy v-if="$store.state.currentStep=='soundTherapy'" />
    <Exercises v-if="$store.state.currentStep=='exercises'" />
    <Roleplay v-if="$store.state.currentStep=='roleplay'" />
    <RoleplayPresets v-if="$store.state.currentStep=='roleplayChoice'" />
    <AppDisplay
      v-if="$store.state.currentStep=='appRunning' && isRobotTablet"
      :appName="$store.state.currentApp" />
    <ThemeSongChoice v-if="$store.state.currentStep=='themeSongChoice'"/>
    <ThemeSong  v-if="$store.state.currentStep=='themeSong'"/>
    <Quiz v-if="$store.state.currentStep=='quiz'"/>
    <MemoryGame v-if="$store.state.currentStep=='memoryGame'"/>
    <Categories v-if="$store.state.currentStep=='categories'" />
    <SimilaritiesGame v-if="$store.state.currentStep =='similaritiesGame'"/>
    <Dashboard  v-if="$store.state.currentStep=='analytics'&& !isRobotTablet"/>
    <RemoteControl
      v-if="$store.state.currentStep=='appRunning' && !isRobotTablet" />
    <BottomNavigation
      :currentStep="$store.state.currentStep"
      :language="$store.state.language" />
    <SoundSetting v-if="!isRobotTablet" />
    <Dashboard  v-if="$store.state.currentStep=='analytics'"/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import MenuWhere from './components/MenuWhere.vue'
import MenuWhat from './components/MenuWhat.vue'
import MenuLanguage from './components/MenuLanguage.vue'
import RealityOrientation from './components/RealityOrientation.vue'
import BottomNavigation from './components/BottomNavigation.vue'
import AppChoice from './components/AppChoice.vue'
import SoundTherapy from './components/SoundTherapy.vue'
import Exercises from './components/Exercises.vue'
import AppDisplay from './components/AppDisplay.vue'
import Roleplay from './components/Roleplay.vue'
import ThemeSongChoice from './components/ThemeSongChoice.vue'
import ThemeSong from './components/ThemeSong.vue'
import SoundSetting from './components/SoundSetting.vue'
import RemoteControl from './components/RemoteControl.vue'
<<<<<<< Updated upstream
import Quiz from './components/Quiz.vue'
import RoleplayPresets from './components/RoleplayPresets.vue'
import MemoryGame from './components/MemoryGame.vue'
import Categories from './components/Categories.vue'
import SimilaritiesGame from './components/SimilaritiesGame.vue'
=======
>>>>>>> Stashed changes
import Dashboard from './components/Dashboard.vue'

export default {
  name: 'app',
  components: {
    Header,
    MenuWhere, MenuWhat, MenuLanguage,
    RealityOrientation,
    BottomNavigation,
    AppChoice,
    SoundTherapy,
    Exercises,
    Roleplay, RoleplayPresets,
    AppDisplay,
    ThemeSongChoice, ThemeSong,
    SoundSetting,
    RemoteControl,
<<<<<<< Updated upstream
    Quiz, MemoryGame, Categories,
    SimilaritiesGame,
=======
>>>>>>> Stashed changes
    Dashboard
  },
  data() {
    return {
      isRobotTablet: true
    }
  },
  mounted() {
    const ip = this.getUrlParam("ip", undefined)
    this.isRobotTablet = (location.host == "198.18.0.1")
    if (!this.robot.isConnected) {
      this.robot.connect(ip, () => {
        this.robot.subscribeToSignal(
          "CGHTemplateController",
          "appFinished",
           this.onAppFinished)
        this.robot.subscribeToSignal(
          "CGHTemplateController",
          "tabletState",
          this.$store.replaceState.bind(this.$store))
        this.robot.call(
          "CGHTemplateController",
          "get_state",
          this.$store.replaceState.bind(this.$store))
      })
    }
  },
  methods: {
    onAppFinished() {
      this.$store.setState('appChoice')
      this.robot.setTabletState(this.$store.getStateAsString())
    }
  }
}
</script>
