<template>
<div>
  <TopBar
      title="What Goes Here?: Overview of Presets"
      backBtn
      @back="goTo('home')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
      <h1>List of Presets</h1>
      <div class="row mb-3 text-black align-items-center"
           v-for="preset in presetsList"
           :key="preset.id">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ preset.config_name }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editPreset(preset.id)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                type="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single preset, to transfer to another Pepper."
                class="btn btn-outline-none"
                @click="downloadBackup(language, preset.id)" >
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deletePreset(preset.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-between borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="createNewPreset">
            Create new Preset
          </button>
        </div>
        <div class="col-3">
          <button
              data-bs-toggle="tooltip1" data-bs-placement="bottom" title="Upload single preset, from another Pepper to this Pepper. New content is added to list; existing content remains."
              class="btn btn-primary" @click="openStInput">
            Upload Preset
          </button>
          <input type="file"
              id="backupStPresetUpload"
              accept="application/json"
              style="display: none;"
              @change="sendFile">
        </div>
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="goTo('catLocations')">
            Locations List
          </button>
        </div>
      </div>
    </main>
  </div>


</div>
</template>

<script>
import TopBar from './TopBar.vue'
import LanguageSelector from './LanguageSelector.vue'

export default {
  name: "Categories",
  components: {
    TopBar, LanguageSelector
  },
  data () {
    return {
      presetsList: [],
      language: this.$store.state.currentLanguage
    }
  },
  mounted () {
    this.fetchPresetsList()
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip1"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    createNewPreset () {
      this.$store.setPresetId("")
      this.$store.setCurrentLanguage(this.language)
      this.$store.setState("catPresetEdit")
    },
    editPreset (presetId) {
      this.$store.setPresetId(presetId)
      this.$store.setCurrentLanguage(this.language)
      this.$store.setState("catPresetEdit")
    },
    deletePreset (presetId) {
      if (confirm("are you sure you want to delete this preset")) {
        let setPath = `categories/${this.language}/presets/${presetId}`
        this.robot.call("CGHManager", "delete_file_from_path",
          this.fetchPresetsList,
          (err) => { console.log(err) },
          setPath)
      }
    },
    fetchPresetsList() {
      this.robot.call("CGHManager", "get_presets_list",
      (data) => {
        this.presetsList = JSON.parse(data)
        this.presetsList.sort((a,b) => {
          if (a.config_name < b.config_name)
            return -1
          return 1
        })
        setTimeout(() => {
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        }, 500)
      },
      (err) => {
        console.log("error:", err)
      }, "categories", this.language)
    },
    changeLanguage (language) {
      this.language = language
      this.$store.setCurrentLanguage(this.language)
      this.fetchPresetsList()
    },
    downloadBackup (language, presetId) {
      let path = `categores/${language}/presets/${presetId}`
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.saveFile("whatGoesHere_preset_" + presetId, btoa(data), "application/json")
        },
        (err) => { console.log(err)
        }, path)
    },
    openStInput () {
      document.getElementById("backupStPresetUpload").click()
    },
    sendFile (evt) {
      let file = evt.target.files[0]
      let reader = new FileReader()
      reader.onload = (readerEvt) => {
        document.getElementById("backupStPresetUpload").value = null
        if (readerEvt.target.readyState == 2) {
          let filecontent = readerEvt.target.result
          let preset = JSON.parse(filecontent)
          this.robot.call("CGHManager", "save_json_to_path",
            () => {
              alert("save successful")
              this.fetchPresetsList()
            },
            (err) => alert(err),
            `categories/${this.language}/presets/${preset.id}`,
            JSON.stringify(preset, null, 2))
        }
      }
      reader.readAsText(file)
    }
  }
}
</script>