<template>
<div>
  <TopBar
      title="What Goes Here?: Create / Edit Location"
      backBtn saveBtn @save="save"
      @back="goTo('catLocations')" />

  <div class="col-lg-12 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language }}
        </div>
        <div class="col-md-3">
          {{ saveStatus }}
        </div>
      </div>
      <!-- Location name/image -->
      <RODoubleForm v-if="path!=null"
        label="Location"
        label2=" name:"
        :text="location.location_text"
        :image="location.location_image"
        :path="path"
        labelSize="col-md-3"
        ref="locData" />

      <!-- list of items -->
      <RODoubleForm v-for="(item, index) in location.items" v-if="path!=null"
        :label="'Item ' + (index+1)"
        noText
        :image="item.item_image"
        :path="path"
        labelSize="col-md-3"
        ref="items" />

       <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addItem">
            <i class="fas fa-plus-circle"></i>
            Add an item
          </button>
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'
import RODoubleForm from './RODoubleForm.vue'

export default {
  name: "CatLocationEdit",
  components: {
    TopBar, RODoubleForm
  },
  data () {
    return {
      location: this.$store.state.currentCategory,
      path: null,
      language: "",
      saveStatus: ""
    }
  },
  methods: {
    goTo(state) {
      this.$store.setState(state)
    },
    save() {
      let locId = this.location.id
      let targetPath = `categories/${this.language}/locations/${locId}/`
      let locationData = this.$refs.locData.getData()
      this.location.location_text = locationData[0]
      if (locationData[1] != undefined) {
        let path = targetPath + "location."
        let extension = this.sendPicture(locationData[1], path)
        this.location.location_image = "location." + extension
      }
      // upload new items
      console.log(this.$refs)
      for (let i=0; i<this.location.items.length; i++) {
        let widgetData = this.$refs.items[i].getData()
        if (widgetData[1] != undefined) {
          let path = targetPath + "image_" + i + "."
          let extension = this.sendPicture(widgetData[1], path)
          this.location.items[i].item_image = `image_${i}.${extension}`
        }
      }
      if (this.language == "English" || this.language == "Chinese") {
        this.robot.call("CGHManager", "save_json_to_path",
          () => { alert("saved successfully") },
          (err) => console.log(err),
          targetPath + "data.json",
          JSON.stringify(this.location, null, 2))
      } else {
        this.robot.call("CGHManager", "save_category_game_to_path",
          () => { alert("saved successfully") },
          (err) => console.log(err),
          targetPath,
          JSON.stringify(this.location, null, 2),
          this.language)
      }

    },
    sendPicture(file, path) {
      const extension = file.name.split('.').pop()
      const targetPath = path + extension
      const fileReader = new FileReader()
      fileReader.onload = (data) => {
        this.robot.call("CGHManager", "save_image_to_path",
          null,
          (err) => {
            console.log(err)},
          targetPath, data.target.result.split(",")[1])
      }
      fileReader.readAsDataURL(file)
      return extension
    },
    uploadJson (targetPath) {
      // upload new json
      this.saveStatus = "saving data..."
      this.robot.call("CGHManager", "save_json_to_path",
        () => {
          alert("save was successful")
          this.saveStatus = ""
        },
        this.onFailedSaving,
        targetPath + "data.json", JSON.stringify(this.sound, null, 2))
    },
    uploadMedia (data, name, folder_path, callback) {
      let extension = data.split(";")[0].split("/")[1]
      let pureData = data.split(",")[1]
      let fileName = name + "." + extension
      this.robot.call("CGHManager", "save_image_to_path",
        () => {
          console.log(name + " saved")
          if (callback != undefined)
            callback(fileName)
        },
        this.onFailedSaving,
        folder_path + fileName, pureData)
    },
    addItem () {
      this.location.items.push({
        item_image: ""
      })
    },
    onFailedSaving () {
      alert("error when saving")
      this.robot.call("CGHManager", "delete_folder_from_path",
        () => {
          console.log("aborted successfully")
        },
        console.log,
        `categories/${this.language}/locations/${this.location.id}`)
    }
  },
  mounted () {
    this.language = this.location.language || "English"
    this.path = "categories/" + this.language + "/locations/" + this.location.id + "/"
  }
}
</script>