<template>
<div>
  <TopBar
      title="What Goes Here?: Category List"
      backBtn
      @back="goTo('categories')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
      <h1>Categories</h1>
      <div class="row mb-3 text-black align-items-center"
           v-for="location in locationsList"
           :key="location.location_text">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ location.location_text }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editLocation(location)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single location data, to transfer to another Pepper."
                type="button"
                class="btn btn-outline-none"
                @click="downloadBackup(language, location.id)" >
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteLocation(location)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-between borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="editLocation(null)">
            Create New Location
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" @click="openStInput">
            Upload Location
          </button>
          <input type="file"
              id="backupStMusicUpload"
              accept="application/zip"
              style="display: none;"
              @change="sendFile">
        </div>
        <div class="col-3"></div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'
import LanguageSelector from './LanguageSelector.vue'

export default {
  name: "CatLocations",
  components: {
    TopBar, LanguageSelector
  },
  data () {
    return {
      language: this.$store.state.currentLanguage,
      locationsList: [],
      shortToLanguage: {
        "en": "English",
        "cn": "Chinese",
        "tm": "Tamil",
        "ml": "Malay"
      },
      languageToShort: {
        "English": "en",
        "Chinese": "cn",
        "Tamil": "tm",
        "Malay": "ml"
      }
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    editLocation (location) {
      if (location == null) {
        this.$store.setCurrentCategory({
          location_text: "",
          location_image: "",
          language: this.language,
          id: Date.now().toString().substring(2),
          items: []
        })
      } else {
        this.$store.setCurrentCategory(location)
      }
      this.$store.setState("catLocationEdit")
    },
    deleteLocation (location) {
      if (confirm("are you sure you want to delete this location?")) {
        let locationId = location.id
        this.robot.call("CGHManager", "delete_folder_from_path",
          this.loadLocations,
          (err) => { console.log(err)},
          `categories/${this.language}/locations/${locationId}`)
      }
    },
    loadLocations () {
      this.robot.call("CGHManager", "get_categories_locations_list",
        (data) => {
          this.locationsList = JSON.parse(data)
          this.locationsList.sort((a,b) => {
            if (a.name<b.name)
              return -1
            return 1
          })
          setTimeout(() => {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
          }, 500)
        }, console.log, this.language)
    },
    changeLanguage (language) {
      this.language = language
      this.$store.setCurrentLanguage(this.language)
      this.loadLocations()
    },
    downloadBackup (language, locationId) {
      this.robot.call("CGHManager", "download_folder",
        (data) => {
          console.log("received data")
          let lang = this.languageToShort[language]
          this.saveFile(`${locationId}.${lang}.zip`, data, "application/zip")
      }, (err) => {
          console.log(err)
      }, `categories/${language}/locations/${locationId}`)
    },
    openStInput () {
      document.getElementById("backupStMusicUpload").click()
    },
    sendFile (evt) {
      let file = evt.target.files[0]
      // get file language and path
      let nameArr = file.name.split(".")
      if (nameArr.length != 3 || !this.shortToLanguage.hasOwnProperty(nameArr[1])) {
        alert("file can't be uploaded")
        document.getElementById("backupStMusicUpload").value = null
        return
      }
      let language = this.shortToLanguage[nameArr[1]]
      let targetPath = `categories/${language}/locations/${nameArr[0]}`
      // let's upload this
      let reader = new FileReader()
      reader.onload = (readerEvt) => {
        if (readerEvt.target.readyState == 2) {
          let filecontent = readerEvt.target.result.substring(28)
          this.robot.call("CGHManager", "upload_folder",
            () => {
              alert("Location backup successully restored")
              this.loadLocations()
            },
            (err) => { console.log(err) },
            targetPath, filecontent)
          document.getElementById("backupStMusicUpload").value = null
        }
      }
      reader.readAsDataURL(file)
    }
  },
  mounted () {
    this.loadLocations()
  }
}
</script>