<template>
<div>
  <TopBar
      title="What Goes Here?: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('categories')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
      </div>
      <!-- config name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="preset.config_name">
        </div>
      </div>
      <!-- locations list -->
      <div
          class=""
          v-for="(set, index) in preset.catsList"
          :key="'set'+index"
          ref="items">

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-4"><h3>Location {{ index + 1 }}:</h3></div>
        </div>

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Number of items:</div>
          <div class="col-md-1">
            <input type="number" class="form-control" v-model.number="set.number_items">
          </div>
        </div>

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Categories:</div>
          <div class="col-md-5">
            <select class="form-control mySelect"
                type="text"
                v-model="set.location">
              <option
                  v-for="option in locationOptions"
                  :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="col-md-2 offset-1">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteLocation(index)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>


      </div>


      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addLocation">
            <i class="fas fa-plus-circle"></i>
            Add Location
          </button>
        </div>
      </div>

    </main>
  </div>
  <!-- end header -->
  <div class="container fluid">
    <!-- add exercise -->
    <div class="row">
      <div class="col-3 offset-2">

      </div>
    </div>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "CatPresetEdit",
  components: {
    TopBar
  },
  data () {
    return {
      preset: {},
      language: this.$store.state.currentLanguage,
      locationsList: []
    }
  },
  mounted () {
    // load locations
    this.loadLocations()
    // load preset
    let presetId = this.$store.state.currentPresetId
    if (presetId != "") {
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.preset = JSON.parse(data)
          this.preset.id = presetId
        },
        null,
        `categories/${this.language}/presets/${presetId}`)
    } else {
      this.preset = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        catsList: []
      }
      this.addLocation()
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    save () {
      if (this.preset.config_name.length == 0) {
        alert("please give a name to this preset")
        return
      }
      if (this.preset.catsList.length == 0) {
        alert("you need to add at least one location")
        return
      }
      for (let set of this.preset.catsList) {
        if (set.location.length == 0) {
          alert("one or more set has no selected location")
          return
        }
      }

      this.robot.call("CGHManager", "save_json_to_path",
        () => alert("save successful"),
        (err) => alert(err),
        `categories/${this.language}/presets/${this.preset.id}`,
        JSON.stringify(this.preset, null, 2))
    },
    deleteLocation (index) {
      this.preset.catsList.splice(index, 1)
    },
    addLocation () {
      this.preset.catsList.push({
        number_items: 3,
        location: null
      })
    },
    loadLocations () {
      this.robot.call("CGHManager", "get_categories_locations_list",
        (data) => {
          this.locationsList = JSON.parse(data)
          this.locationsList.sort((a,b) => {
            if (a.name<b.name)
              return -1
            return 1
          })
          setTimeout(() => {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
          }, 500)
        }, console.log, this.language)
    },
  },
  computed: {
    locationOptions () {
      let options = []
      for (let location of this.locationsList) {
        options.push({
          value: location.id,
          text: location.location_text
        })
      }
      return options
    }
  }
}
</script>