<template>
<div>

  <TopBar
      title="Exercise: Overview of Music"
      backBtn
      @back="goTo('exercises')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <div
          class="row mb-3 text-black align-items-center"
          v-for="music in musicList"
          :key="music">
        <div class="col-md-6 offset-2 themed-grid-col">
          <h2>{{ music }}</h2>
        </div>
        <div class="col-md-3 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteMusic(music)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row mb-3 text-black align-items-center">
        <div class="col-md-5 offset-2 themed-grid-col">
          <input
              ref="exMusicFileInput"
              type="file"
              class="form-control"
              multiple
              accept="audio/ogg,audio/mp3,audio/wav"
              @change="uploadListChanged" />
        </div>
        <div class="col-md-4 themed-grid-col">
          <button
              class="btn btn-primary"
              @click="uploadMusic">
            <i class="fas fa-upload"></i>
            Upload Music
          </button>
        </div>
      </div>

    </main>
  </div>

</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "ExMusic",
  components: {
    TopBar
  },
  data () {
    return {
      musicList: [],
      uploadList: null
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    fetchMusicList () {
      this.robot.call("CGHManager", "get_files_list",
      (data) => {
        data.sort()
        this.musicList = data
      },
      (err) => {
        console.log("error:", err)
      }, "exercises/music")
    },
    uploadListChanged (evt) {
      this.uploadList = evt.target.files
    },
    uploadMusic () {
      if (this.uploadList == null) {
        alert("please select files to upload first.")
      } else {
        this.uploadMusicCallback(0)
      }
    },
    uploadMusicCallback (index) {
      if (this.uploadList.length <= index) {
        alert("uploaded all new music")
        this.$refs.exMusicFileInput.value = null
        this.fetchMusicList()
      } else {
        let file = this.uploadList[index]
        let targetPath = "exercises/music/" + file.name
        const fileReader = new FileReader()
        fileReader.onload = (data) => {
          this.robot.call("CGHManager", "save_image_to_path",
            () => { this.uploadMusicCallback(index+1) },
            (err) => {console.log(err)},
            targetPath, data.target.result.split(',')[1])
        }
        fileReader.readAsDataURL(file)
      }
    },
    deleteMusic (fileName) {
      if (confirm("are you sure you want to delete this music?")) {
        let musicPath = "exercises/music/" + fileName
        this.robot.call("CGHManager", "delete_file_from_path",
          this.fetchMusicList,
          (err) => { console.log(err) },
          musicPath)
      }
    }
  },
  mounted () {
    this.fetchMusicList()
  }
}
</script>