<template>
<div>
  <TopBar
      title="Exercises: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('exercises')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <!-- config name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="exercise.config_name">
        </div>
      </div>

      <!-- exercises list -->
      <h1>List of Poses</h1>
      <div
          class="row p-1 my-1 align-items-center"
          v-for="(set, index) in exercise.exercisesList"
          :key="'set'+index"
          ref="sets">
        <div class="col-md-2">
          <span v-if="index==0">
            Exercises:
          </span>
        </div>
        <div class="col-md-5">
          <!-- exercise select -->
          <select
              class="form-control mySelect"
              type="text"
              v-model="set.exercise_anim">
            <option
                v-for="option in exerciseOptions"
                :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Repetitions:</label>
        </div>
        <div class="col-md-1">
          <input
            type="number"
            v-model="set.exercise_times"
            min="1"
            max="100">
        </div>
        <div class="col-md-1 text-end">
          <button
              type="button"
              class="btn btn-outline-none"
              @click="deleteSet(index)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>

      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addSet">
            <i class="fas fa-plus-circle"></i>
            Add a Pose / Break
          </button>
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "ExPresetEdit",
  components: {
    TopBar
  },
  data () {
    return {
      exercise: {},
      exerciseAnimToName: {
        "cgh-main/animations/exercises/0001": "Up & Front",
        "cgh-main/animations/exercises/0002": "Head Rotation",
        "cgh-main/animations/exercises/0003": "Extend Arms Sideways",
        "cgh-main/animations/exercises/0004": "Raise Arms",
        "cgh-main/animations/exercises/0005": "Punch With Arms",
        "cgh-main/animations/exercises/0006": "Front & Side",
        "cgh-main/animations/exercises/0007": "Palms (both) Up And Down",
        "cgh-main/animations/exercises/0008": "Diagonal Stretch",
        "cgh-main/animations/exercises/0009": "Swing Arms",
        "cgh-main/animations/exercises/0010": "Peekaboo",
        "cgh-main/animations/exercises/0011": "Marching",
        "cgh-main/animations/exercises/0012": "Front & Down",
        "cgh-main/animations/exercises/0013": "Arms Forward And Flick Fingers",
        "cgh-main/animations/exercises/0014": "Forearm Pronation / Supination",
        "cgh-main/animations/exercises/0015": "Palms (single) Up & Down",
        "cgh-main/animations/exercises/0016": "Elbow Against Gravity",
        "cgh-main/animations/exercises/0017": "Frogstyle",
        "cgh-main/animations/exercises/0018": "Backstroke",
        "cgh-main/animations/exercises/0019": "Forward Reaching",
        "cgh-main/animations/exercises/0020": "Big Wave",
        "cgh-main/animations/exercises/0021": "Freestyle",
        "cgh-main/animations/exercises/0022": "Butterfly Style",
        "cgh-main/animations/exercises/0023": "Teapot",
        "cgh-main/animations/exercises/0024": "Rolling Arm Forward",
        "cgh-main/animations/exercises/0025": "Rolling Arm backwards",
        "cgh-main/animations/exercises/0026": "Hands Stretch",
        "cgh-main/animations/exercises/0027": "Hands On Head And Wide",
        "cgh-main/animations/exercises/0028": "Dabbing",
        "cgh-main/animations/exercises/0029": "Wiping Table",
        "cgh-main/animations/exercises/0030": "Side-Open"
      }
    }
  },
  mounted () {
    let presetId = this.$store.state.currentPresetId
    if (presetId != "") {
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.exercise = JSON.parse(data)
          this.exercise.id = presetId
        },
        null,
        `exercises/presets/${presetId}`)
    } else {
      this.exercise = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        exercisesList: []
      }
      this.addSet()
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    save () {
      if (this.exercise.exercisesList.length == 0) {
        alert("you need to create at least one exercise")
        return
      }
      if (this.exercise.config_name.length == 0) {
        alert("please give a name to this preset")
        return
      }
      for (const set of this.exercise.exercisesList) {
        if (set.exercise_anim == null) {
          alert("One or more exercise sets has no selected animation.")
          return
        }
      }
      this.robot.call("CGHManager", "save_json_to_path",
        () => alert("save successful"),
        (err) => alert(err),
        "exercises/presets/" + this.exercise.id,
        JSON.stringify(this.exercise, null, 2))
    },
    deleteSet (index) {
      this.exercise.exercisesList.splice(index, 1)
    },
    addSet () {
      this.exercise.exercisesList.push({
        exercise_anim: null,
        exercise_times: 6
      })
    }
  },
  computed: {
    exerciseOptions () {
      const options = []
      for (const key in this.exerciseAnimToName) {
        options.push({
          value: key,
          text: this.exerciseAnimToName[key]
        })
      }
      options.sort((a,b) => {
        if (a.text < b.text)
          return -1
        return 1
      })
      options.splice(0,0, {value: "cgh-main/animations/exercises/0000", text: "Break (1 rep = 1 minute)"})
      options.splice(0,0, {value: null, text: "Select an exercise"})
      return options
    }
  }
}
</script>