<template>
<div>

  <TopBar title="Welcome to CGH Robot CMS" />

  <div class="col-lg-9 mx-auto p-3">
    <main>
      <h3>Edit Specific Activity</h3>

      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('realityOrientation')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Reality Orientation</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('soundTherapy')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Sound Therapy</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('exercises')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Exercises</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('themeSong')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Theme Song</p>
        </div>
      </div>

      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('quiz')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Quiz</p>
        </div>
      </div>

      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('roleplayChoice')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Roleplay</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('memoryGame')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Memory Game</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('categories')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">What Goes Here?</p>
        </div>
      </div>
      <div
          class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm selection-item pointer"
          @click="goTo('similarityGame')">
        <i class="fas fa-save"></i>
        <div class="lh-1">
          <p class="h6 mb-0 text-black lh-1">Similarity Game</p>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <h3>Edit Specific Activity</h3>
      <div class="mb-2">
        <a href="#" class="btn btn-primary btn-lg px-4" @click="downloadBackup">
          <i class="fas fa-upload"></i> Download backup from this Pepper
        </a>
        <span v-html="downloadStatus"></span>
      </div>

      <div class="mb-2">
        <a href="#" class="btn btn-primary btn-lg px-4" @click="openInput">
          <i class="fas fa-upload"></i> Restore this Pepper from Backup
        </a>
        <span v-html="uploadStatus"></span>
        <input type="file"
               id="backupUpload"
               accept="application/zip"
               style="display: none;"
               @change="sendFile">
      </div>

    </main>
  </div>

</div>
</template>

<script>
import TopBar from './TopBar.vue'
export default {
  name: "Home",
  components: {
    TopBar
  },
  data () {
    return {
      downloadStatus: "",
      uploadStatus: ""
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    downloadBackup() {
      if (
        !confirm(
          "Do you want to proceed to save ALL content from this Pepper (for transfer to another Pepper)?"
        )
      )
        return
      this.downloadStatus = "gathering data"
      this.robot.call(
        "CGHManager",
        "download_backup",
        (data) => {
          this.downloadStatus = "downloading data..."
          let url = "http://" + this.getUrlParam("miniServer", document.location.hostname + ":6789") + data
          fetch(url, {
            method: "GET",
          })
            .then((response) => response.blob())
            .then((blob) => {
              let blobUrl = window.URL.createObjectURL(blob)
              let a = document.createElement("a")
              a.href = blobUrl
              a.download = "backup.zip"
              document.body.appendChild(a) // we need to append the element to the dom -> otherwise it will not work in firefox
              a.click()
              a.remove() //afterwards we remove the element again
              this.downloadStatus = ""
            })
            .catch((err) => {
              this.downloadStatus = "error"
              alert(err)
            })
        },
        (err) => {
          this.downloadStatus = "error"
          alert(err)
        }
      )
    },
    openInput() {
      if (
        !confirm(
          "Do you want to proceed? This will override all existing content on this Pepper."
        )
      )
        return
      document.getElementById("backupUpload").click()
    },
    sendFile(evt) {
      let file = evt.target.files[0]
      let formData = new FormData()
      formData.append(file.name, file)
      let url =
        "http://" +
        this.getUrlParam("miniServer", document.location.hostname + ":6789")
      this.uploadStatus = "Sending data"
      fetch(url, {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          response.text().then((text) => {
            this.uploadStatus = "Installing data"
            this.robot.call(
              "CGHManager",
              "upload_backup",
              (res) => {
                if (res) alert("backup successully restored")
                else alert("could not install backup")
                this.uploadStatus = ""
                document.getElementById("backupUpload").value = null
              },
              (err) => {
                alert("error when uploading backup")
                this.uploadStatus = "error"
              },
              text
            )
          })
        })
        .catch((err) => {
          alert("error upload file")
          this.uploadStatus = "error"
          document.getElementById("backupUpload").value = null
        })
      // let reader = new FileReader()
      // reader.onload = (readerEvt) => {
      //   console.log(readerEvt.target)
      //   if (readerEvt.target.readyState == 2) {
      //     let filecontent = readerEvt.target.result.substring(28)
      //     this.robot.call("CGHManager", "upload_backup",
      //       () => {
      //         alert("backup successully restored")
      //       },
      //       (err) => { console.log(err) },
      //       filecontent)
      //   }
      // }
      // reader.readAsDataURL(file)
    }
  }
}
</script>