<template>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button :class="getClasses('English')"  type="button" role="tab"
      @click="changeLanguage('English')">
      English
    </button>
    <button :class="getClasses('Chinese')"  type="button" role="tab" @click="changeLanguage('Chinese')">
      中文
    </button>
    <button :class="getClasses('Malay')"  type="button" role="tab" @click="changeLanguage('Malay')">
      Melayu
    </button>
    <button :class="getClasses('Tamil')"  type="button" role="tab" @click="changeLanguage('Tamil')">
       தமிழ்
    </button>
  </div>
</nav>
</template>

<script>
export default {
  name: "LanguageSelector",
  props: {
    language: {
      type: String,
      required: true
    }
  },
  methods: {
    getClasses (language) {
      let classes = "nav-link"
      if (language == this.language)
        classes += " active"
      return classes
    },
    changeLanguage (language) {
      this.$emit("changeLanguage", language)
    }
  }
}
</script>