<template>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button :class="getClasses('GDH')"  type="button" role="tab" @click="changeLocation('GDH')">
      GDH
    </button>
    <button :class="getClasses('WARD')"  type="button" role="tab" @click="changeLocation('WARD')">
      WARD
    </button>
  </div>
</nav>
</template>

<script>
export default {
  name: "LocationSelector",
  props: {
    location: {
      type: String,
      required: true
    }
  },
  methods: {
    getClasses (location) {
      let classes = "nav-link"
      if (location == this.location)
        classes += " active"
      return classes
    },
    changeLocation (location) {
      this.$emit("changeLocation", location)
    }
  }
}
</script>