<template>
<div>
  <TopBar
      title="Memory Game: Create / Edit Category"
      backBtn saveBtn @save="save"
      @back="goTo('mgCategories')" />

  <div class="col-lg-12 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
        <div class="col-md-3">
          {{ saveStatus }}
        </div>
      </div>
      <!-- category name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Category name:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="category.name">
        </div>
      </div>

      <!-- list of items -->
      <RODoubleForm v-for="(item, index) in category.items" v-if="path!=null"
        :label="'Item ' + (index+1)"
        label2=" name:"
        :text="item.name"
        :image="item.image"
        :path="path"
        labelSize="col-md-3"
        ref="items" />

       <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addItem">
            <i class="fas fa-plus-circle"></i>
            Add an item
          </button>
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'
import RODoubleForm from './RODoubleForm.vue'

export default {
  name: "MGCategoryEdit",
  components: {
    TopBar, RODoubleForm
  },
  data () {
    return {
      category: this.$store.state.currentCategory,
      path: null,
      language: "",
      saveStatus: ""
    }
  },
  methods: {
    goTo(state) {
      this.$store.setState(state)
    },
    save() {
      let catId = this.category.id
      let targetPath = `memoryGame/${this.language}/categories/${catId}/`
      // upload new music
      for (let i=0; i<this.category.items.length; i++) {
        let widgetData = this.$refs.items[i].getData()
        this.category.items[i].name = widgetData[0]
        if (widgetData[1] != undefined) {
          let path = targetPath + "image_" + i + "."
          let extension = this.sendPicture(widgetData[1], path)
          this.category.items[i].image = `image_${i}.${extension}`
        }
        if (this.language == "Malay" || this.language == "Tamil") {
          this.category.items[i].sound = `sound_${i}.ogg`
        }
      }
      if (this.language == "English" || this.language == "Chinese") {
        this.robot.call("CGHManager", "save_json_to_path",
          () => { alert("saved successfully") },
          (err) => console.log(err),
          targetPath + "data.json",
          JSON.stringify(this.category, null, 2))
      } else {
        this.robot.call("CGHManager", "save_memory_game_to_path",
          () => { alert("saved successfully") },
          (err) => console.log(err),
          targetPath,
          JSON.stringify(this.category, null, 2),
          this.language)
      }
    },
    sendPicture(file, path) {
      const extension = file.name.split('.').pop()
      const targetPath = path + extension
      const fileReader = new FileReader()
      fileReader.onload = (data) => {
        this.robot.call("CGHManager", "save_image_to_path",
          null,
          (err) => {
            console.log(err)},
          targetPath, data.target.result.split(",")[1])
      }
      fileReader.readAsDataURL(file)
      return extension
    },
    uploadMedia (data, name, folder_path, callback) {
      let extension = data.split(";")[0].split("/")[1]
      let pureData = data.split(",")[1]
      let fileName = name + "." + extension
      this.robot.call("CGHManager", "save_image_to_path",
        () => {
          console.log(name + " saved")
          if (callback != undefined)
            callback(fileName)
        },
        this.onFailedSaving,
        folder_path + fileName, pureData)
    },
    addItem () {
      this.category.items.push({
        cat_id: this.category.id,
        name: "",
        image: ""
      })
    },
    onFailedSaving () {
      alert("error when saving")
      this.robot.call("CGHManager", "delete_folder_from_path",
        () => {
          console.log("aborted successfully")
        },
        console.log,
        `memoryGame/${this.language}/categories/${this.category.id}`)
    }
  },
  mounted () {
    this.language = this.category.language || "English"
    this.path = "memoryGame/" + this.language + "/categories/" + this.category.id + "/"
  }
}
</script>