<template>
<div>
  <TopBar
      title="Memory Game: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('memoryGame')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
      </div>
      <!-- config name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="preset.config_name">
        </div>
      </div>
      <!-- items list -->
      <div
          class=""
          v-for="(set, index) in preset.sets"
          :key="'set'+index"
          ref="items">

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2"><h3>Set {{ index + 1 }}:</h3></div>
        </div>

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Number of items:</div>
          <div class="col-md-1">
            <input type="number" class="form-control" v-model.number="set.items">
          </div>
        </div>

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Categories:</div>
          <div class="col-md-5">
            <select class="form-control mySelect"
                type="text" multiple
                v-model="set.categories">
              <option
                  v-for="option in soundsOptions"
                  :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="col-md-2 offset-1">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteSound(index)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>


      </div>


      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addSound">
            <i class="fas fa-plus-circle"></i>
            Add a set
          </button>
        </div>
      </div>

    </main>
  </div>
  <!-- end header -->
  <div class="container fluid">
    <!-- add exercise -->
    <div class="row">
      <div class="col-3 offset-2">

      </div>
    </div>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "MGPresetEdit",
  components: {
    TopBar
  },
  data () {
    return {
      preset: {},
      language: this.$store.state.currentLanguage,
      soundsList: []
    }
  },
  mounted () {
    // load sounds
    this.loadSounds()
    // load preset
    let presetId = this.$store.state.currentPresetId
    if (presetId != "") {
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.preset = JSON.parse(data)
          this.preset.id = presetId
        },
        null,
        `memoryGame/${this.language}/presets/${presetId}`)
    } else {
      this.preset = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        sets: []
      }
      this.addSound()
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    save () {
      if (this.preset.config_name.length == 0) {
        alert("please give a name to this preset")
        return
      }
      if (this.preset.sets.length == 0) {
        alert("you need to add at least one set")
        return
      }
      for (let set of this.preset.sets) {
        if (set.categories.length == 0) {
          alert("one or more set has no selected categories")
          return
        }
      }

      this.robot.call("CGHManager", "save_json_to_path",
        () => alert("save successful"),
        (err) => alert(err),
        `memoryGame/${this.language}/presets/${this.preset.id}`,
        JSON.stringify(this.preset, null, 2))
    },
    deleteSound (index) {
      this.preset.sets.splice(index, 1)
    },
    addSound () {
      this.preset.sets.push({
        categories: [],
        items: 2
      })
    },
    loadSounds () {
      this.robot.call("CGHManager", "get_memory_categories_list",
        (data) => {
          this.soundsList = JSON.parse(data)
          this.soundsList.sort((a,b) => {
            if (a.name<b.name)
              return -1
            return 1
          })
        }, null, this.language)
    }
  },
  computed: {
    soundsOptions () {
      let options = []
      for (let sound of this.soundsList) {
        options.push({
          value: sound.id,
          text: sound.name
        })
      }
      return options
    }
  }
}
</script>