<template>
<div>
  <TopBar
      title="Quiz: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('quiz')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
      </div>
      <!-- config name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="preset.config_name">
        </div>
      </div>
      <!-- sounds list -->
      <div
          class="row p-1 my-1 align-items-center"
          v-for="(question, index) in preset.questions"
          :key="'set'+index"
          ref="question">
        <div class="col-md-2">
          <span v-if="index==0">Questions list:</span>
        </div>
        <div class="col-md-5">
          <select class="form-control mySelect"
              type="text"
              v-model="question.question_id">
            <option
                v-for="option in questionOptions"
                :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="col-md-2 offset-1">
          <button
              type="button"
              class="btn btn-outline-none"
              @click="deleteQuestion(index)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addQuestion">
            <i class="fas fa-plus-circle"></i>
            Add a question
          </button>
        </div>
      </div>

    </main>
  </div>
  <!-- end header -->
  <div class="container fluid">
    <!-- add exercise -->
    <div class="row">
      <div class="col-3 offset-2">

      </div>
    </div>
  </div>
</div>
</template>

<script>
import TopBar from "./TopBar.vue";

export default {
  name: "QzPresetEdit",
  components: {
    TopBar,
  },
  data() {
    return {
      preset: {},
      language: this.$store.state.currentLanguage,
      questionsList: [],
    };
  },
  mounted() {
    this.loadQuestions();
    let presetId = this.$store.state.currentPresetId;
    if (presetId != "") {
      this.robot.call(
        "CGHManager",
        "get_json_from_path",
        (data) => {
          this.preset = JSON.parse(data);
          this.preset.id = presetId;
        },
        null,
        `quiz/${this.language}/presets/${presetId}`
      );
    } else {
      this.preset = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        questions: [],
      };
      this.addQuestion();
    }
  },
  methods: {
    goTo(state) {
      this.$store.setState(state);
    },
    save() {
      if (this.preset.questions.length == 0) {
        alert("you need to add at least one question");
        return;
      }
      if (this.preset.config_name.length == 0) {
        alert("please give a name to this preset");
        return;
      }
      for (let question of this.preset.questions) {
        if (question.question_id == null) {
          alert("One or more questions have not been selected.");
          return;
        }
        this.getQuestionTypeFromId(question);
      }
      this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () =>{
          alert("save successful"),
          this.$store.setState("quiz")
        },
        (err) => alert(err),
        `quiz/${this.language}/presets/${this.preset.id}`,
        JSON.stringify(this.preset, null, 2)
      );
    },
    deleteQuestion(index) {
      this.preset.questions.splice(index, 1);
    },
    addQuestion() {
      this.preset.questions.push({
        question_id: null,
        type: "",
      });
    },
    loadQuestions() {
      this.robot.call(
        "CGHManager",
        "get_questions_list",
        (data) => {
          this.questionsList = JSON.parse(data);
          this.questionsList.sort((a, b) => {
            if (a.name < b.name) return -1;
            return 1;
          });
        },
        null,
        this.language
      );
    },
    getQuestionTypeFromId(aQuestion) {
      for (let question of this.questionsList) {
        if (question.id == aQuestion.question_id)
          aQuestion.type = question.type;
      }
    },
  },
  computed: {
    questionOptions() {
      let options = [{ value: null, text: "Select a question..." }];
      for (let question of this.questionsList) {
        options.push({
          value: question.id,
          text: question.name,
        });
      }
      return options;
    },
  },
};
</script>