<template>
<div>
  <TopBar
      title="Quiz: Overview of Questions"
      backBtn
      @back="goTo('quiz')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
      <h1>List of Questions</h1>
      <div class="row mb-3 text-black align-items-center"
           v-for="question in questionsList"
           :key="question.name">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ question.name }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editQuestion(question)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single sound/song data, to transfer to another Pepper."
                type="button"
                class="btn btn-outline-none"
                @click="downloadBackup(language, question.id)" >
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteQuestion(question)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-between borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="editQuestion(null)">
            Create New Quesion
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" @click="openQzInput">
            Upload Quesion
          </button>
          <input type="file"
              id="backupQzQuestionUpload"
              accept="application/zip"
              style="display: none;"
              @change="sendFile">
        </div>
        <div class="col-3"></div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from "./TopBar.vue";
import LanguageSelector from "./LanguageSelector.vue";

export default {
  name: "QzQuestionsList",
  components: {
    TopBar,
    LanguageSelector,
  },
  data() {
    return {
      language: this.$store.state.currentLanguage,
      questionsList: [],
      shortToLanguage: {
        en: "English",
        cn: "Chinese",
        tm: "Tamil",
        ml: "Malay",
      },
      languageToShort: {
        English: "en",
        Chinese: "cn",
        Tamil: "tm",
        Malay: "ml",
      },
    };
  },
  methods: {
    goTo(state) {
      this.$store.setState(state);
    },
    editQuestion(question) {
      if (question == null) {
        this.$store.setCurrentQuestion({
          name: "",
          language: this.language,
          id: Date.now().toString().substring(2),
          type: "custom",
          quiz_image: null,
          quiz_question: "",
          quiz_answer: "",
          quiz_reminisce: "",
        });
      } else {
        this.$store.setCurrentQuestion(question);
      }
      console.log(this.$store.state.currentQuestion);
      this.$store.setState("qzQuestionEdit");
    },
    deleteQuestion(question) {
      if (confirm("are you sure you want to delete this question?")) {
        let questionId = question.id;
        this.robot.call(
          "CGHManager",
          "delete_folder_from_path",
          this.loadQuestions,
          (err) => {
            console.log(err);
          },
          `quiz/${this.language}/questions/${questionId}`
        );
      }
    },
    loadQuestions() {
      this.robot.call(
        "CGHManager",
        "get_questions_list",
        (data) => {
          this.questionsList = JSON.parse(data);
          console.log(this.questionsList);
          this.questionsList = this.questionsList.filter((question) => {
            return question.type == "custom";
          });
          this.questionsList.sort((a, b) => {
            if (a.name < b.name) return -1;
            return 1;
          });
          //setTimeout(()=>{
          //  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          //  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          //    return new bootstrap.Tooltip(tooltipTriggerEl)
          // })
          // }, 500)
        },
        console.log,
        this.language
      );
    },
    changeLanguage(language) {
      this.language = language;
      this.$store.setCurrentLanguage(this.language);
      this.loadQuestions();
    },
    downloadBackup(language, questionId) {
      this.robot.call(
        "CGHManager",
        "download_folder",
        (data) => {
          console.log("received data");
          let lang = this.languageToShort[language];
          this.saveFile(`${questionId}.${lang}.zip`, data, "application/zip");
        },
        (err) => {
          console.log(err);
        },
        `quiz/${language}/questions/${questionId}`
      );
    },
    openQzInput() {
      document.getElementById("backupQzQuestionUpload").click();
    },
    sendFile(evt) {
      let file = evt.target.files[0];
      // get file language and path
      let nameArr = file.name.split(".");
      if (
        nameArr.length != 3 ||
        !this.shortToLanguage.hasOwnProperty(nameArr[1])
      ) {
        alert("file can't be uploaded");
        document.getElementById("backupQzQuestionUpload").value = null;
        return;
      }
      let language = this.shortToLanguage[nameArr[1]];
      let targetPath = `quiz/${language}/questions/${nameArr[0]}`;
      // let's upload this
      let reader = new FileReader();
      reader.onload = (readerEvt) => {
        if (readerEvt.target.readyState == 2) {
          let filecontent = readerEvt.target.result.substring(28);
          this.robot.call(
            "CGHManager",
            "upload_folder",
            () => {
              alert("Quiz question backup successully restored");
              this.loadQuestions();
            },
            (err) => {
              console.log(err);
            },
            targetPath,
            filecontent
          );
          document.getElementById("backupQzQuestionUpload").value = null;
        }
      };
      reader.readAsDataURL(file);
    },
  },
  mounted() {
    this.loadQuestions();
  },
};
</script>