<template>
<div>
  <TopBar
      title="Quiz: Create / Edit Question"
      backBtn saveBtn @save="save"
      @back="goTo('qzList')" />

  <div class="col-lg-12 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
        <div class="col-md-3">
          {{ saveStatus }}
        </div>
      </div>
      <!-- sound name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Question name:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="question.name">
        </div>
      </div>
      <!-- sound image(s) -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2 themed-grid-col">
          Image file:
        </div>
        <div class="col-md-4 themed-grid-col">
          <input
              type="file"
              class="form-control"
              accept="image/jpg,image/jpeg,image/png,image/gif"
              ref="imageFile"
              @change="onImageFile" multiple>
        </div>
        <div class="col-md-4 themed-grid-col">
          <img :src="quiz_image" class="img-preview">
        </div>
      </div>
      <!-- sound comments -->
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Question:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="question.quiz_question">
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Answer:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="question.quiz_answer">
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Reminiscence:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="question.quiz_reminisce">
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from "./TopBar.vue";

export default {
  name: "QzQuestionEdit",
  components: {
    TopBar,
  },
  data() {
    return {
      question: this.$store.state.currentQuestion,
      language: "",
      quiz_question: "",
      quiz_answer: "",
      quiz_reminisce: "",
      quiz_image: null,
      saveStatus: "",
    };
  },
  methods: {
    goTo(state) {
      this.$store.setState(state);
    },
    onImageFile(evt) {
      this.imageFiles = evt.target.files;
      let length = this.imageFiles.length;
      let firstName = evt.target.files[0].name;
      if (length == 1 || firstName.endsWith(".gif")) {
        let reader = new FileReader();
        reader.onload = (evt) => {
          this.quiz_image = evt.target.result;
        };
        reader.readAsDataURL(this.imageFiles[0]);
        // this.quiz_image = URL.createObjectURL(this.imageFiles[0])
      }
    },
    save() {
      let questionId = this.question.id;
      let targetPath = `quiz/${this.language}/questions/${questionId}/`;
      // upload new music
      this.saveStatus = "uploading question...";
      if (this.imageFiles != null) {
        this.uploadMedia(
          this.quiz_image,
          "background",
          targetPath,
          (imgName) => {
            this.question.quiz_image = imgName;
            this.uploadJson(targetPath);
          }
        );
      } else {
        this.uploadJson(targetPath);
      }
      if (this.question.name.length == 0) {
        alert("Please give a name to this question")
        return
      }
      if (this.question.quiz_question.length == 0) {
        alert("Please type in a question")
        return
      }
      if (this.question.quiz_answer.length == 0) {
        alert("Please type in an answer")
        return
      }
      if (this.question.quiz_reminisce.length == 0) {
        alert("Please type in reminiscence")
        return
      }
      if(this.question.quiz_question.includes("；")){
        alert("Chinese semi-colon detected. Please use English semi-colon instead.");
        return
      }
      if(this.question.quiz_answer.includes("；")){
        alert("Chinese semi-colon detected. Please use English semi-colon instead.");
        return
      }
      if(this.question.quiz_reminisce.includes("；")){
        alert("Chinese semi-colon detected. Please use English semi-colon instead.");
        return
      }
    },
    uploadJson(targetPath) {
      this.saveStatus = "saving data...";
      if (this.language=="English"||this.language=="Chinese")
      {
         this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () => {
          alert("save was successful");
          this.saveStatus = "";
          this.$store.setState("qzList")
        },
        this.onFailedSaving,
        targetPath + "data.json",
        JSON.stringify(this.question, null, 2)
      );
      }
      else{
         this.robot.call(
        "CGHManager",
        "save_quez_questions",
        () => {
          alert("save was successful");
          this.saveStatus = "";
          this.$store.setState("qzList")
        },
        this.onFailedSaving,
        targetPath ,
        JSON.stringify(this.question, null, 2),
        this.language
      );
      }
     
    },
    uploadMedia(data, name, folder_path, callback) {
      let extension = data.split(";")[0].split("/")[1];
      let pureData = data.split(",")[1];
      let fileName = name + "." + extension;
      this.robot.call(
        "CGHManager",
        "save_image_to_path",
        () => {
          console.log(name + " saved");
          if (callback != undefined) callback(fileName);
        },
        this.onFailedSaving,
        folder_path + fileName,
        pureData
      );
    },
    onFailedSaving() {
      alert("error when saving");
      this.robot.call(
        "CGHManager",
        "delete_folder_from_path",
        () => {
          console.log("aborted successfully");
        },
        console.log,
        `quiz/${this.language}/questions/${this.question.id}`
      );
    },
  },
  mounted() {
    this.language = this.question.language;
    let img_src = this.question.quiz_image;
    if (img_src != null) {
      let imgPath = `quiz/${this.language}/questions/${this.question.id}/${img_src}`;
      let imgExtention = img_src.split(".")[1];

      this.robot.call(
        "CGHManager",
        "get_img_from_path",
        (data) => {
          this.quiz_image = `data:image/${imgExtention};base64,${data}`;
        },
        console.log,
        imgPath
      );
    }
  },
};
</script>