<template>
<div>
  <TopBar
      title="Reality Orientation"
      backBtn saveBtn downloadBtn uploadBtn
      @back="goTo('home')" @save="save"
      @download="download" @upload="openBackupInput" />

  <input type="file"
         id="roUploadInput"
         accept="application/zip"
         style="display: none;"
         @change="uploadBackup">

  <div class="col-lg-10 mx-auto p-3">
    <main>
<<<<<<< Updated upstream
=======
      <LocationSelector :location="location" @changeLocation="changeLocation" />
      <br>
>>>>>>> Stashed changes
      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
     
      <div v-if="realityOrientation.prime_minister_name != undefined && 'English,Chinese'.indexOf(language) != -1" :key="renderKey">
        <!--Location-->
        <RODoubleForm
          label="Location"
          label2 = " name:"
          :text="realityOrientation.location_name"
          :image="images[13]"
          ref="location" />
        
        <!-- Prime Minister -->
        <RODoubleForm
          label="Prime Minister"
          label2 = " name:"
          :text="realityOrientation.prime_minister_name"
          :image="images[0]"
          ref="minister" />
        <!-- Months -->
        <RODoubleForm v-for="index in 12"
          :label="months[index]"
          :text="realityOrientation.months_comments[index]"
          :image="images[index]"
          :key="index"
          :ref="'month_'+index" />
      </div>
      <div :key="renderKey" v-else>
        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-3">Prime Minister Name</div>
          <div class="col-md-7">
            <input type="text" class="form-control" v-model="realityOrientation.prime_minister_name">
          </div>
        </div>

        <div class="row p-1 my-1 align-items-center" v-for="index in 13">
          <div class="col-md-3">{{ months[index - 1] }} description</div>
          <div class="col-md-7">
            <input type="text" class="form-control" v-model="realityOrientation.months_comments[index - 1]">
          </div>
        </div>


      </div>

    </main>

  </div>

</div>
</template>

<script>
import RODoubleForm from './RODoubleForm.vue'
import TopBar from './TopBar.vue'
import LanguageSelector from './LanguageSelector.vue'
<<<<<<< Updated upstream
import SoundUploader from './SoundUploader.vue'
=======
import LocationSelector from './LocationSelector.vue'
>>>>>>> Stashed changes

export default {
  name: "RealityOrientation",
  components: {
    RODoubleForm,
    TopBar,
    LanguageSelector,
<<<<<<< Updated upstream
    SoundUploader
=======
    LocationSelector
>>>>>>> Stashed changes
  },
  data() {
    return {
      renderKey: 0,
      appData: null,
      realityOrientation: Object,
      language: "English",
      location: "GDH",
      images: Array,
      months: ["Year", "January", "February", "March", "April",
                "May", "June", "July", "August", "September",
                "October", "November", "December"]
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    changeLanguage (language) {
      this.language = language
      this.fetchData()
    },

    save () {
      if ("English,Chinese".indexOf(this.language) != -1) {
        let widgetData = this.$refs.minister.getData()
        this.realityOrientation.prime_minister_name = widgetData[0]
        if (widgetData[1] != undefined) {
          let extension = this.sendPicture(
            widgetData[1],
            "realityOrientation/images/prime_minister."
          );
          this.images[0] = "prime_minister." + extension;
        }
        widgetData = this.$refs.location.getData();
        this.realityOrientation.location_name = widgetData[0];
        if (widgetData[1] != undefined) {
          let extension = this.sendPicture(
            widgetData[1],
            "realityOrientation/images/location."
          );
          this.images[13] = "location." + extension;
          this.realityOrientation.location_image = "location." + extension;
          console.log(this.realityOrientation);
        }
        for (let i=1; i<13; i++) {
          widgetData = this.$refs["month_" + i][0].getData()
          this.realityOrientation.months_comments[i] = widgetData[0]
          if (widgetData[1] != undefined) {
            let path = `realityOrientation/images/month_${i}.`
            let extension = this.sendPicture(widgetData[1], path)
            this.images[i] = `month_${i}.${extension}`
          }
        }
        this.appData.images = this.images
      } else {
        // nothing to do I guess
      }
      this.appData[this.language] = this.realityOrientation
      console.log(this.appData)
      this.robot.call(
        "CGHManager",
        "save_reality_orientation_to_path",
        () => {
          alert("saved successfully") },
        (err) => console.log(err),
        "realityOrientation/data.json",
        JSON.stringify(this.appData, null, 2),
        this.language)
    },
    sendPicture(file, path) {
      const extension = file.name.split('.').pop()
      const targetPath = path + extension
      const fileReader = new FileReader()
      fileReader.onload = (data) => {
        this.robot.call("CGHManager", "save_image_to_path",
          null,
          (err) => {
            console.log(err)},
          targetPath, data.target.result.split(",")[1])
      }
      fileReader.readAsDataURL(file)
      return extension
    },
    download() {
      let fileServerIp = this.getUrlParam("miniServer", document.location.hostname + ":6789")
      this.robot.downloadBackupFromPath(
        "realityOrientation",
        fileServerIp,
        "realityOrientation.zip",
        () => console.log("reality orientation downloaded"),
        (err) => console.log("reality orientation download err: " + err)
      )
    },
    openBackupInput() {
      document.getElementById("roUploadInput").click()
    },
    uploadBackup(evt) {
      let fileServerIp = this.getUrlParam("miniServer", document.location.hostname + ":6789")
      let file = evt.target.files[0]
      this.robot.uploadBackupToPath(
        "realityOrientation",
        fileServerIp,
        file,
        () => {
          alert("Reality Orientation backup successully restored")
          this.fetchData()
        },
        console.log
      )
    },
    fetchData() {
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.appData = JSON.parse(data)
          this.realityOrientation = this.appData[this.language] || {}
          if (this.realityOrientation.months_comments == undefined) {
            this.realityOrientation.months_comments = ["","","","","","","","","","","","",""]
          }
          this.images = this.appData.images
          this.renderKey += 1
        },
        null,
        "realityOrientation/data.json")
    }
  },
  mounted () {
    this.fetchData()
  }
}
</script>