<template>
<div class="row mb-2 text-black">
  <div class="col-md-8 themed-grid-col">
    <div class="row p-1 my-1 align-items-center" v-if="!noText">
      <div :class="labelSize">{{ label }}{{ label2 }}</div>
      <div class="col-md-7">
        <input type="text" class="form-control" v-model="localText">
      </div>
    </div>
    <div class="row p-1 my-1 align-items-center">
      <div :class="labelSize + ' themed-grid-col'">
        {{ label }} {{ label3 }}
      </div>
      <div class="col-md-7 themed-grid-col">
        <input
            type="file" class="form-control"
            @change="onFileChange"
            accept="image/png,image/jpg,image/gif">
      </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col p-1 my-1 fa-5x">
    <img :src="imageSrc" class="img-preview">
  </div>
</div>
</template>

<script>
export default {
  name: "RODoubleForm",
  props: {
    label: String,
    label2: {
      type: String,
      default: " description:"
    },
    label3: {
      type: String,
      default: " picture:"
    },
    text: String,
    image: String,
    path: {
      type: String,
      default: "realityOrientation/images/"
    },
    noText: {
      type: Boolean,
      default: false
    },
    labelSize: {
      type: String,
      default: "col-md-5"
    }
  },
  data () {
    return {
      localText: this.text,
      localImage: undefined,
      imageSrc: ""
    }
  },
  methods: {
    onFileChange (evt) {
      const file = evt.target.files[0]
      this.localImage = file
      this.imageSrc = URL.createObjectURL(file)
    },
    getData () {
      return [this.localText, this.localImage]
    }
  },
  mounted () {
    if (this.image != undefined && this.image != "") {
      let imgPath = this.path + this.image
      let extension = this.image.substring(this.image.indexOf(".")+1)
      this.robot.call("CGHManager", "get_img_from_path",
        (data) => {
          this.imageSrc = `data:image/${extension};base64,${data}`
        },
        null,
        imgPath)
    }
  }
}
</script>