<template>
<div>
  <TopBar
      title="Roleplay: Scenarios"
      backBtn
      @back="goTo('home')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>
      <h1>Choose a scenario</h1>

      <button class="btn btn-primary btn-scenario" @click="goTo('roleplay1')">
        <i class="fas fa-edit"></i> Scenario 1: Pepper cooks lunch
      </button>
      <button class="btn btn-primary btn-scenario" @click="goTo('roleplay2')">
        <i class="fas fa-edit"></i> Scenario 2: Pepper goes to gathering
      </button>
    </main>
  </div>
</div>
</template>


<script>
import TopBar from './TopBar.vue'

export default {
  name: "RoleplayChoice",
  components: {
    TopBar
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
  }
}
</script>