<template>
<div>
  <TopBar
      title="Roleplay: Scenario 1 Edit/Create"
      backBtn saveBtn downloadBtn uploadBtn
      @back="goTo('roleplay1')" @save="save"
      @download="download" @upload="openBackupInput" />

  <input type="file"
         id="roUploadInput"
         accept="application/zip"
         style="display: none;"
         @change="uploadBackup">

  <div class="col-lg-10 mx-auto p-3">
    <main v-if="path != undefined">
      <RODoubleForm
        label="Main Food Item"
        label2=" text:"
        :text="scenario.main_food_text"
        :image="scenario.main_food_image"
        :path="path"
        ref="main_food_image" />

      <!-- Rice or Noodle -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Rice or Noodles:</div>
        <div class="col-md-2">
          <select  class="form-control" v-model="scenario.food_type">
            <option value="rice" selected="selected">Rice</option>
            <option value="noodles">Noodles</option>
          </select>
        </div>
      </div>

      <!-- Ingredient from store -->
      <RODoubleForm
        label="Main Ingredient"
        label2=":"
        :text="scenario.main_ingredient_text"
        :image="scenario.main_ingredient_image"
        :path="path"
        ref="main_ingredient_image" />


      <!-- Correct Section -->
      <RODoubleForm
        label="Correct section"
        label2=":"
        :text="scenario.correct_section_text"
        :image="scenario.correct_section_image"
        :path="path"
        ref="correct_section_image" />

      <!-- Wrong Section -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Wrong section text:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="scenario.wrong_section_text">
        </div>
      </div>

      <!-- Section collage -->
      <RODoubleForm
        label="Section collage"
        label2=":"
        text=""
        noText
        :image="scenario.section_collage"
        :path="path"
        ref="section_collage" />

      <!-- money in wallet -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Money in wallet:</div>
        <div class="col-md-1">
          <input type="number" class="form-control" v-model="scenario.wallet_amount">
        </div>
      </div>
      <br/>

      <!-- First item -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">First item cost:</div>
        <div class="col-md-1">
          <input type="number" class="form-control" v-model="scenario.first_item_cost">
        </div>
      <RODoubleForm
        label="1st item"
        label2=" text:"
        :text="scenario.first_item"
        :image="scenario.first_item_image"
        :path="path"
        ref="first_item_image" />
      </div>

      <!-- Second item -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Second item cost:</div>
        <div class="col-md-1">
          <input type="number" class="form-control" v-model="scenario.second_item_cost">
        </div>
      <RODoubleForm
        label="2nd item"
        label2=" text:"
        :text="scenario.second_item"
        :image="scenario.second_item_image"
        :path="path"
        ref="second_item_image" />
      </div>

      <!-- Correct ingredient -->
      <RODoubleForm
        label="Correct ingredient"
        label2=":"
        :text="scenario.correct_ingredient_text"
        :image="scenario.correct_ingredient_image"
        :path="path"
        ref="correct_ingredient_image" />

      <!-- Wrong ingredient -->
      <RODoubleForm
        label="Wrong ingredient"
        label2=":"
        :text="scenario.wrong_ingredient_text"
        :image="scenario.wrong_ingredient_image"
        :path="path"
        ref="wrong_ingredient_image" />

      <!-- Section collage -->
      <RODoubleForm
        label="Section collage"
        label2=":"
        text=""
        noText
        :image="scenario.ingredient_collage"
        :path="path"
        ref="ingredient_collage" />

      <!-- last comment -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Food description:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="scenario.last_comment">
        </div>
      </div>

    </main>
  </div>



</div>
</template>

<script>
import RODoubleForm from './RODoubleForm.vue'
import TopBar from './TopBar.vue'

export default {
  name: "RoleplayScenario1Edit",
  components: {
    RODoubleForm,
    TopBar
  },
  data () {
    return {
      appData: null,
      image_names: [
        "main_food_image", "correct_section_image", "main_ingredient_image",
        "section_collage", "first_item_image", "second_item_image",
        "correct_ingredient_image", "wrong_ingredient_image", "ingredient_collage"
      ],
      image_texts: {
        main_food_image: "main_food_text",
        correct_section_image: "correct_section_text",
        main_ingredient_image: "main_ingredient_text",
        first_item_image: "first_item",
        second_item_image: "second_item",
        correct_ingredient_image: "correct_ingredient_text",
        wrong_ingredient_image: "wrong_ingredient_text"
      },
      scenario: this.$store.state.currentPreset,
      language: this.$store.state.currentLanguage,
      path: undefined
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    download () {

    },
    save () {
      let presetId = this.scenario.id
      let targetPath = `roleplay/scenario1/${this.language}/${presetId}/`
      this.appData = this.scenario
      // get all images
      for (const image of this.image_names) {
        let widgetData = this.$refs[image].getData()
        if (widgetData[1] != undefined) {
          let extension = this.sendPicture(
            widgetData[1],
            targetPath + image + ".")
          this.appData[image] = `${image}.${extension}`
          if (this.image_texts[image] != undefined) {
            this.appData[this.image_texts[image]] = widgetData[0]
          }
        }
        if (this.appData[image] == undefined) {
          alert("an image has not been set: " + image)
          return
        }
      }
      if (["English", "Chinese"].indexOf(this.language) != -1) {
        this.robot.call(
          "CGHManager", "save_json_to_path", () => {
            alert("saved successfully")
          }, (err) => {
            alert("error: " + err)
          },
          targetPath + "data.json",
          JSON.stringify(this.appData, null, 2))
      } else {
        this.robot.call(
          "CGHManager", "save_roleplay_to_path", () => {
            alert("saved successfully")
          }, (err) => {
            alert("error: " + err)
          },
          targetPath,
          JSON.stringify(this.appData, null, 2),
          this.language,
          "scenario1"
        )
      }
    },
    sendPicture(file, path) {
      const extension = file.name.split('.').pop()
      const targetPath = path + extension
      const fileReader = new FileReader()
      fileReader.onload = (data) => {
        this.robot.call("CGHManager", "save_image_to_path",
          null,
          (err) => {
            console.log(err)},
          targetPath, data.target.result.split(",")[1])
      }
      fileReader.readAsDataURL(file)
      return extension
    },
    openBackupInput () {

    },
    uploadBackup () {

    }
  },
  mounted () {
    this.path = "roleplay/scenario1/" + this.language + "/" + this.scenario.id + "/"

  }
}
</script>