<template>
<div>
  <TopBar
      title="Roleplay: Scenario 2"
      backBtn
      @back="goTo('roleplayChoice')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />

      <h1>List of Presets</h1>
      <div class="row mb-3 text-black align-items-center"
           v-for="preset in presetsList"
           :key="preset.id">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ preset.festival_name }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editPreset(preset)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single preset, to transfer to another Pepper."
                @click="downloadBackup(preset.id)"
                type="button" class="btn btn-outline-none">
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deletePreset(preset.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-start borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="editPreset(null)">
            Create new Preset
          </button>
        </div>
        <div class="col-3">
          <button
              data-bs-toggle="tooltip1" data-bs-placement="bottom" title="Upload single preset, from another Pepper to this Pepper. New content is added to list; existing content remains."
              @click="openPresetInput"
              class="btn btn-primary">
            Upload Preset
          </button>
          <input type="file"
              id="backupPresetUpload"
              accept="application/json"
              style="display: none;"
              @change="sendFile">
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'
import LanguageSelector from './LanguageSelector.vue'

export default {
  name: "RoleplayScenario2",
  components: {
    TopBar, LanguageSelector
  },
  data () {
    return {
      appData: null,
      language: this.$store.state.currentLanguage,
      presetsList: []
    }
  },
  mounted () {
    this.fetchScenariosList()
    // turn on tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip1"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    fetchScenariosList() {
      this.robot.call("CGHManager", "get_roleplay_list",
      (data) => {
        this.presetsList = JSON.parse(data)
        this.presetsList.sort((a,b) => {
          if (a.config_name < b.config_name)
            return -1
          return 1
        })
        setTimeout(() => {
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        }, 500)
      },
      (err) => {
        console.log("error:", err)
      }, "scenario2", this.language)
    },
    changeLanguage (language) {
      this.language = language
      this.$store.setCurrentLanguage(this.language)
      this.fetchScenariosList()
    },
    editPreset (preset) {
      if (preset == null) {
        this.$store.setCurrentPreset({
          festival_name: "",
          gift_option_1: "",
          gift_option_2: "",
          gift_category: "",
          gift_fun_fact: "",
          ezlink_money: "3",
          cost_one_way: 2,
          mrt_destination: "",
          festival_greeting: "",
          festival_snack: "",
          snack_description: "",


          festival_image: "",
          gathering_image: "",
          gift_option_1_image: "",
          gift_collage: "",
          ezlink_money_image: "",
          ezlink_money_collage: "",
          common_snacks_image: "",
          festival_snack_image: "",

          language: this.language,
          id: Date.now().toString().substring(2)
        })
      } else {
        this.$store.setCurrentPreset(preset)
      }
      this.$store.setState("roleplay2Edit")
    },
    openPresetInput () {
      document.getElementById("backupPresetUpload").click()
    },
    sendFile () {

    },
  }
}
</script>