<template>
<div>
  <TopBar
      title="Roleplay: Scenario 2 Edit/Create"
      backBtn saveBtn downloadBtn uploadBtn
      @back="goTo('roleplay2')" @save="save"
      @download="download" @upload="openBackupInput" />

  <input type="file"
         id="roUploadInput"
         accept="application/zip"
         style="display: none;"
         @change="uploadBackup">

  <div class="col-lg-10 mx-auto p-3">
    <main v-if="path != undefined">
      <RODoubleForm
        label="Festival"
        label2=" name:"
        :text="scenario.festival_name"
        :image="scenario.festival_image"
        :path="path"
        ref="festival_image" />

      <!-- Gathering image -->
      <RODoubleForm
        label="Festival gathering"
        label2=":"
        text=""
        noText
        :image="scenario.gathering_image"
        :path="path"
        ref="gathering_image" />

      <!-- Gift category and collage -->
      <RODoubleForm
        label="Gift category"
        label2=" name:"
        :text="scenario.gift_category"
        :image="scenario.gift_collage"
        :path="path"
        ref="gift_collage" />

      <!-- Correct gift -->
      <RODoubleForm
        label="Correct gift"
        label2=" name:"
        :text="scenario.gift_option_1"
        :image="scenario.gift_option_1_image"
        :path="path"
        ref="gift_option_1_image" />


       <!-- Wrong gift -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Wrong gift option:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="scenario.gift_option_2">
        </div>
      </div>

      <!-- Gift fun fact -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Gift fun fact:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="scenario.gift_fun_fact">
        </div>
      </div>


      <!-- EZ Link -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Cost of one-way trip:</div>
        <div class="col-md-1">
          <input type="number" class="form-control" v-model="scenario.cost_one_way">
        </div>
      </div>

      <RODoubleForm
        label="Money in EZ-Link"
        label2=" amount:"
        :text="scenario.ezlink_money"
        :image="scenario.ezlink_money_image"
        :path="path"
        ref="ezlink_money_image" />

      <RODoubleForm
        label="Total travel cost vs EZ-Link"
        label2=":"
        text=""
        noText
        :image="scenario.ezlink_money_collage"
        :path="path"
        ref="ezlink_money_collage" />

      <!-- festival greeting and snacks -->
      <RODoubleForm
        label=""
        label2="Festival greeting:"
        label3="Festival snacks image:"
        :text="scenario.festival_greeting"
        :image="scenario.common_snacks_image"
        :path="path"
        ref="common_snacks_image" />

      <RODoubleForm
        label="Snack to eat"
        label2=":"
        :text="scenario.festival_snack"
        :image="scenario.festival_snack_image"
        :path="path"
        ref="festival_snack_image" />

      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-3">Snack description:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="scenario.snack_description">
        </div>
      </div>


    </main>
  </div>



</div>
</template>

<script>
import RODoubleForm from './RODoubleForm.vue'
import TopBar from './TopBar.vue'

export default {
  name: "RoleplayScenario1Edit",
  components: {
    RODoubleForm,
    TopBar
  },
  data () {
    return {
      appData: null,
      image_names: [
        "festival_image", "gathering_image",
        "gift_option_1_image", "gift_collage",
        "ezlink_money_image", "ezlink_money_collage",
        "common_snacks_image", "festival_snack_image"
      ],
      image_texts: {
        festival_image: "festival_name",
        gift_option_1_image: "gift_option_1",
        gift_collage: "gift_category",
        ezlink_money_image: "ezlink_money",
        common_snacks_image: "festival_greeting",
        festival_snack_image: "festival_snack"
      },
      scenario: this.$store.state.currentPreset,
      language: this.$store.state.currentLanguage,
      path: undefined
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    download () {

    },
    save () {
      let presetId = this.scenario.id
      let targetPath = `roleplay/scenario2/${this.language}/${presetId}/`
      this.appData = this.scenario
      // get all images
      for (const image of this.image_names) {
        let widgetData = this.$refs[image].getData()
        if (widgetData[1] != undefined) {
          let extension = this.sendPicture(
            widgetData[1],
            targetPath + image + ".")
          this.appData[image] = `${image}.${extension}`
          if (this.image_texts[image] != undefined) {
            this.appData[this.image_texts[image]] = widgetData[0]
          }
        }
        if (this.appData[image] == undefined) {
          alert("an image has not been set: " + image)
          return
        }
      }
      if (["English", "Chinese"].indexOf(this.language) != -1) {
        this.robot.call(
          "CGHManager", "save_json_to_path", () => {
            alert("saved successfully")
          }, (err) => {
            alert("error: " + err)
          },
          targetPath + "data.json",
          JSON.stringify(this.appData, null, 2))
      } else {
        this.robot.call(
          "CGHManager", "save_roleplay_to_path", () => {
            alert("saved successfully")
          }, (err) => {
            alert("error: " + err)
          },
          targetPath,
          JSON.stringify(this.appData, null, 2),
          this.language,
          "scenario2"
        )
      }
    },
    sendPicture(file, path) {
      const extension = file.name.split('.').pop()
      const targetPath = path + extension
      const fileReader = new FileReader()
      fileReader.onload = (data) => {
        this.robot.call("CGHManager", "save_image_to_path",
          null,
          (err) => {
            console.log(err)},
          targetPath, data.target.result.split(",")[1])
      }
      fileReader.readAsDataURL(file)
      return extension
    },
    openBackupInput () {

    },
    uploadBackup () {

    }
  },
  mounted () {
    this.path = "roleplay/scenario2/" + this.language + "/" + this.scenario.id + "/"

  }
}
</script>