<template>
  <div>
    <TopBar
      title="Similarity Game: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('similarityGame')" />

      <div class="col-lg-10 mx-auto p-3">
    <main>
      <!--language-->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
      </div>
      <!--Preset Name-->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="preset.config_name">
        </div>
      </div>
      <!--Sequence List-->
      <div
          class="row p-1 my-1 align-items-center"
          v-for="(sequence, index) in preset.sequence"
          :key="'set'+index"
          ref="sequence">
        <div class="col-md-2">
          <span v-if="index==0">sequence list:</span>
        </div>
        <div class="col-md-5">
          <select class="form-control mySelect"
              type="text"
              v-model="sequence.sequence_id">
            <option
                v-for="option in sequenceOptions"
                :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="col-md-2 offset-1">
          <button
              type="button"
              class="btn btn-outline-none"
              @click="deleteQuestion(index)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addQuestion">
            <i class="fas fa-plus-circle"></i>
            Add a sequence
          </button>
        </div>
      </div>
      <!---->
    </main>
      </div>

  </div>
</template>

<script>
import TopBar from './TopBar.vue'

  export default {
    name:"SGPreseEdit",
    components:{
      TopBar
    },
    data(){
      return{
         preset: {},
        language: this.$store.state.currentLanguage,
        sequenceList: []
      }
    },
    mounted() {
    this.loadSequence();
    let presetId = this.$store.state.currentPresetId;
    if (presetId != "") {
      this.robot.call(
        "CGHManager",
        "get_json_from_path",
        (data) => {
          this.preset = JSON.parse(data);
          this.preset.id = presetId;
        },
        null,
        `similarities/${this.language}/presets/${presetId}`
      );
    } else {
      this.preset = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        sequence: [],
      };
      this.addQuestion();
    }
  },
    methods:{
      goTo(state){
        this.$store.setState(state)
      },
      deleteQuestion(index) {
      this.preset.sequence.splice(index, 1);
    },
      save() {
      if (this.preset.sequence.length == 0) {
        alert("you need to add at least one question");
        return;
      }
      if (this.preset.config_name.length == 0) {
        alert("please give a name to this preset");
        return;
      }
      for (let sequence of this.preset.sequence) {
        if (sequence.sequence_id == null) {
          alert("One or more sequence have not been selected.");
          return;
        }
        this.getQuestionTypeFromId(sequence);
      }
      this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () => {
          alert("save successful"),
          this.$store.setState("similarityGame")
        },
        (err) => alert(err),
        `similarities/${this.language}/presets/${this.preset.id}`,
        JSON.stringify(this.preset, null, 2)
      );
    },
      loadSequence() {
      this.robot.call(
        "CGHManager",
        "get_sequence_list",
        (data) => {
          this.sequenceList = JSON.parse(data);
          this.sequenceList.sort((a, b) => {
            if (a.name < b.name) return -1;
            return 1;
          });
        },
        null,
        this.language
      );
    },
    addQuestion() {
      this.preset.sequence.push({
        sequence_id: null,
        type: "",
      });
    },
      deleteSequence(index) {
      this.preset.sequence.splice(index, 1);
    },
     getQuestionTypeFromId(aSequence) {
      for (let sequence of this.sequenceList) {
        if (sequence.id == aSequence.sequence_id)
          aSequence.type = sequence.type;
      }
    },
    },
     computed: {
    sequenceOptions() {
      let options = [{ value: null, text: "Select a sequence..." }];
      for (let sequence of this.sequenceList) {
        options.push({
          value: sequence.id,
          text: sequence.name,
        });
      }
      return options;
    },
  },
  }
</script>

