<template>
  <div>
     <TopBar
      title="Similarities Game: Create / Edit Sequence"
      backBtn saveBtn @save="save"
      @back="goTo('sgSequenceList')" />

  <div class="col-lg-12 mx-auto p-3">
    <main>
       <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{language}}
        </div>
        <div class="col-md-3">
          {{ saveStatus }}
        </div>
      </div>
      <!-- Sequence name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Sequence name:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sequence.name">
        </div>
      </div>
      
      <!-- Sequence image(s) -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2 themed-grid-col">
          Image file:
        </div>
        <div class="col-md-4 themed-grid-col">
          <input
              type="file"
              class="form-control"
              accept="image/jpg,image/jpeg,image/png,image/gif"
              ref="imageFile"
              @change="onImageFile" multiple>
        </div>
        <div class="col-md-4 themed-grid-col">
          <img :src="sequence_image" class="img-preview">
        </div>
      </div>
      <!-- questions 1 -->
      <div 
          class="row p-1 my-1 align-items-center" >
        <div class="col-md-2">
          Question:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sequence.sequence_question_1">
        </div>
        <div class="col-md-1">
          Answer:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sequence.sequence_answer_1">
        </div>
         <div class="col-md-1" v-if="this.showSecondSequence==false">
          <button
              class="btn btn-primary"
              @click="addQuestion">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        
      </div>
      <!--question2-->
      <div 
          class="row p-1 my-1 align-items-center" v-if="showSecondSequence==true" >
        <div class="col-md-2">
          Question:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sequence.seq_question2">
        </div>
        <div class="col-md-1">
          Answer:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sequence.seq_answer2">
        </div>
        
      </div>
      
      

      </main>
    </div>
  </div>
</template>

<script>
import TopBar from "./TopBar.vue";

  export default {
    name:"SGSequenceEdit",
    components:{
      TopBar
    },
    data(){
      return{
        sequence: this.$store.state.currentSequence,
        language:"",
        sequence_image:null,
        pause_duration:"",
        saveStatus:"",
        noOfQns:0,
        showSecondSequence:false
      }   
    },
    mounted(){
        console.log("mounted")
        this.language = this.sequence.language;
        // this.sequence.questions = []
        let img_src = this.sequence.sequence_image;
        if (img_src != null) {
          let imgPath = `similarities/${this.language}/sequences/${this.sequence.id}/${img_src}`;
          let imgExtention = img_src.split(".")[1];

          this.robot.call(
            "CGHManager",
            "get_img_from_path",
            (data) => {
              this.sequence_image = `data:image/${imgExtention};base64,${data}`;
            },
            console.log,
            imgPath
          );
        }
        if(this.sequence.seq_question2!=""){
          this.showSecondSequence=true
        }
      },
    

    methods:{
      goTo(state){
        this.$store.setState(state)
      },

      addQuestion(){
        this.showSecondSequence=true
      },

    
      onImageFile(evt) {
        this.imageFiles = evt.target.files;
        let length = this.imageFiles.length;
        let firstName = evt.target.files[0].name;
        if (length == 1 || firstName.endsWith(".gif")) {
          let reader = new FileReader();
          reader.onload = (evt) => {
            this.sequence_image = evt.target.result;
          };
          reader.readAsDataURL(this.imageFiles[0]);
          // this.quiz_image = URL.createObjectURL(this.imageFiles[0])
        }
      },
      // save(){
      //   console.log("saving");
      //   this.robot.call("CGHManager", "save_json_to_path",
      //   () => alert("saving"),
      //   (err) => alert(err),
      //   "similarities/" + this.language + "/sequences/" + this.sequence.id,
      //   JSON.stringify(this.sequence, null, 2))
      // },
      save(){
        let sequenceId = this.sequence.id;
        let targetPath = `similarities/${this.language}/sequences/${sequenceId}/`;
        // upload new music
        this.saveStatus = "uploading sequence...";
        if (this.imageFiles != null) {
          this.uploadMedia(
            this.sequence_image,
            "background",
            targetPath,
            (imgName) => {
              this.sequence.sequence_image = imgName;
              this.uploadJson(targetPath);
            }
          );
        } else {
          this.uploadJson(targetPath);
        }
        if (this.sequence.name.length == 0) {
          alert("Please give a name to this sequence")
          return
        }
        if (this.sequence.sequence_question_1.length == 0) {
          alert("Please type in a question")
          return
        }
        if (this.sequence.sequence_answer_1.length == 0) {
          alert("Please type in an answer")
          return
        }
        if(this.sequence.sequence_question_1.includes("；")){
          alert("Chinese semi-colon detected. Please use English semi-colon instead.");
          return
        }
        if(this.sequence.sequence_answer_1.includes("；")){
          alert("Chinese semi-colon detected. Please use English semi-colon instead.");
          return
        }
        if(this.sequence.sequence_question_2.includes("；")){
          alert("Chinese semi-colon detected. Please use English semi-colon instead.");
          return
        }
        if(this.sequence.sequence_answer_2.includes("；")){
          alert("Chinese semi-colon detected. Please use English semi-colon instead.");
          return
        }
      },
      uploadJson(targetPath) {
        // upload new json
        this.saveStatus = "saving data...";
        if (this.language=="English"||this.language=="Chinese"){

        
          if (this.sequence.seq_question2!=''){
            this.sequence.sequence_question_2 = "^start(animations/Stand/Waiting/Think_1) "+ this.sequence.seq_question2 +" ^wait(animations/Stand/Waiting/Think_1)"
            this.sequence.sequence_answer_2 = "^start(animations/Stand/Waiting/Think_1) "+ this.sequence.seq_answer2 +" ^wait(animations/Stand/Waiting/Think_1)"
            this.sequence.sequence_pause= "20"
          }
          else{
            this.sequence.sequence_question_2 = ""
            this.sequence.sequence_answer_2 = ""
            this.sequence.sequence_pause= "1"
          }
          this.robot.call(
            "CGHManager",
            "save_json_to_path",
            () => {
              alert("save was successful");
              this.saveStatus = "";
              this.$store.setState("sgSequenceList")
            },
            this.onFailedSaving,
            targetPath + "data.json",
            JSON.stringify(this.sequence, null, 2)
          );}
        else{
          if (this.sequence.seq_question2=='')
          { this.sequence.sequence_pause= "1"}
          else{ this.sequence.sequence_pause= "20"}
          console.log(targetPath,this.sequence,this.language)
          this.robot.call(
        "CGHManager",
        "save_similarity_game_sequence",
        () => {
          alert("saved successfully")
          this.saveStatus = "";
          this.$store.setState("sgSequenceList")
           },
        (err) => console.log(err),
        targetPath,
        JSON.stringify(this.sequence, null, 2),
        this.language)
        }
      },
      uploadMedia(data, name, folder_path, callback) {
        let extension = data.split(";")[0].split("/")[1];
        let pureData = data.split(",")[1];
        let fileName = name + "." + extension;
        this.robot.call(
          "CGHManager",
          "save_image_to_path",
          () => {
            console.log(name + " saved");
            if (callback != undefined) callback(fileName);
          },
          this.onFailedSaving,
          folder_path + fileName,
          pureData
        );
      },
      onFailedSaving() {
        alert("error when saving");
        this.robot.call(
          "CGHManager",
          "delete_folder_from_path",
          () => {
            console.log("aborted successfully", this.sequence.id);
          },
          console.log,
          `similarities/${this.language}/sequences/${this.sequence.id}`
        );
      },
     
    }
  }
</script>
