<template>
  <div>
    <TopBar
          title="Similarity Game: Overview of Sequence"
          backBtn
          @back="goTo('similarityGame')" />

      <div class="col-lg-10 mx-auto p-3">
        <main>
      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
          <h1>List of Sequences</h1>
          <div class="row mb-3 text-black align-items-center"
           v-for="sequence in sequenceList"
           :key="sequence.name">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ sequence.name }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editSequence(sequence)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single sound/song data, to transfer to another Pepper."
                type="button"
                class="btn btn-outline-none"
                @click="downloadBackup(language, sequence.id)" >
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteQuestion(sequence)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
       <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-between borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="editSequence(null)">
            Create New Sequence
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" @click="openSGInput">
            Upload Sequence
          </button>
          <input type="file"
              id="backupQzQuestionUpload"
              accept="application/zip"
              style="display: none;"
              @change="sendFile">
        </div>
        <div class="col-3"></div>
      </div>
          </main></div>
  </div>
</template>

<script>
import TopBar from'./TopBar.vue'
import LanguageSelector from'./LanguageSelector.vue'
  export default {
    name:"SGSequenceList",
    components:{
      TopBar,
      LanguageSelector,
    },
    data(){
      return{
        language: this.$store.state.currentLanguage,
        sequenceList:[],
        shortToLanguage: {
          en: "English",
          cn: "Chinese",
          tm: "Tamil",
          ml: "Malay",
        },
        languageToShort: {
          English: "en",
          Chinese: "cn",
          Tamil: "tm",
          Malay: "ml",
         },

      }
    },
    mounted() {
      this.loadQuestions();
    },
    methods:{
      goTo(state){
        this.$store.setState(state)
      },
      SAVE(){
        console.log("SAVE")
      },
      changeLanguage(language) {
        this.language = language;
        this.$store.setCurrentLanguage(this.language);
        this.loadQuestions();
      },
      editSequence(sequence){
        if (sequence==null){
          this.$store.setCurrentSequence({
            name: "",
            language: this.language,
            id: Date.now().toString().substring(2),
            type: "custom",
            sequence_image: null,
            pause_duration:"20",
            sequence_question_1:"",
            sequence_answer_1:"",
            seq_question2:"",
            seq_answer2:"",
            sequence_question_2:"",
            sequence_answer_2:""
            
          });
        }
        else{
          this.$store.setCurrentSequence(sequence);
        }
        this.$store.setState("sgSequenceEdit")
      },
      deleteQuestion(sequence) {
        if (confirm("are you sure you want to delete this question?")) {
          let sequenceId = sequence.id;
          this.robot.call(
            "CGHManager",
            "delete_folder_from_path",
            this.loadQuestions,
            (err) => {
              console.log(err);
            },
            `similarities/${this.language}/sequences/${sequenceId}`
          );
        }
      },
      loadQuestions(){
        this.robot.call(
          "CGHManager",
          "get_sequence_list",
          (data) => {
            this.sequenceList = JSON.parse(data);
            this.sequenceList = this.sequenceList.filter((sequence) => {
              return sequence.type == "custom";
            });
            this.sequenceList.sort((a, b) => {
              if (a.name < b.name) return -1;
              return 1;
          });
          //setTimeout(()=>{
          //  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          //  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          //    return new bootstrap.Tooltip(tooltipTriggerEl)
          // })
          // }, 500)
        },
        console.log,
        this.language
        );
      },
      downloadBackup(language, sequenceId) {
      this.robot.call(
        "CGHManager",
        "download_folder",
        (data) => {
          console.log("received data");
          let lang = this.languageToShort[language];
          this.saveFile(`${sequenceId}.${lang}.zip`, data, "application/zip");
        },
        (err) => {
          console.log(err);
        },
        `similarities/${language}/sequences/${sequenceId}`
        );
      },
      openSGInput() {
        document.getElementById("backupQzQuestionUpload").click();
      },
      sendFile(evt) {
        let file = evt.target.files[0];
        // get file language and path
        let nameArr = file.name.split(".");
        if (
          nameArr.length != 3 ||
          !this.shortToLanguage.hasOwnProperty(nameArr[1])
        ) {
          alert("file can't be uploaded");
          document.getElementById("backupQzQuestionUpload").value = null;
          return;
        }
        let language = this.shortToLanguage[nameArr[1]];
        let targetPath = `similarities/${language}/sequences/${nameArr[0]}`;
        // let's upload this
        let reader = new FileReader();
        reader.onload = (readerEvt) => {
          if (readerEvt.target.readyState == 2) {
            let filecontent = readerEvt.target.result.substring(28);
            this.robot.call(
              "CGHManager",
              "upload_folder",
              () => {
                alert("Similarities sequence backup successully restored");
                this.loadQuestions();
              },
              (err) => {
                console.log(err);
              },
              targetPath,
              filecontent
            );
            document.getElementById("backupQzQuestionUpload").value = null;
          }
        };
        reader.readAsDataURL(file);
      },
    }    
  }

</script>

<style lang="scss" scoped>

</style>