<template>
<div class="row mb-2 text-black">
  <div class="col-md-8 themed-grid-col">
    <div class="row p-1 my-1 align-items-center">
      <div :class="labelSize + ' themed-grid-col'">
        {{ label }}
      </div>
      <div class="col-md-7 themed-grid-col">
        <input
            type="file" class="form-control"
            @change="onFileChange"
            accept="audio/mp3">
      </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col p-1 my-1">
    <audio controls v-if="srcUrl!=null" style="width: 90%;">
      <source :src="srcUrl" type="audio/mp3" />
    </audio>
  </div>
</div>
</template>

<script>
export default {
  name: "SoundUploader",
  props: {
    label: String,
    sound: String,
    path: {
      type: String,
      default: "realityOrientation/images/"
    },
    labelSize: {
      type: String,
      default: "col-md-5"
    }
  },
  data () {
    return {
      localSound: undefined,
      srcUrl: null
    }
  },
  methods: {
    onFileChange (evt) {
      const file = evt.target.files[0]
      this.localSound = file
      this.srcUrl = null
      this.$nextTick(() => {
        this.srcUrl = URL.createObjectURL(file)
      })
    },
    getData () {
      return this.localSound
    }
  },
  mounted () {
    if (this.sound != undefined && this.sound != "") {
      let soundPath = this.path + this.sound
      let extension = this.sound.substring(this.sound.indexOf(".")+1)
      this.robot.call("CGHManager", "get_img_from_path",
        (data) => {
          this.srcUrl = `data:audio/${extension};base64,${data}`
        },
        null,
        soundPath)
    }
  }
}
</script>