<template>
<div>
  <TopBar
      title="Sound Therapy: Create / Edit Sound or Song"
      backBtn saveBtn @save="save"
      @back="goTo('stMusic')" />

  <div class="col-lg-12 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
        <div class="col-md-3">
          {{ saveStatus }}
        </div>
      </div>
      <!-- sound name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Sound name:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="sound.name">
        </div>
      </div>
      <!-- sound file + duration -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2 themed-grid-col">
          Sound file:
        </div>
        <div class="col-md-4 themed-grid-col">
          <input
              type="file"
              class="form-control"
              accept="audio/ogg,audio/mp3,audio/wav"
              ref="imageFile"
              @change="onAudioFile" multiple>
        </div>
        <div class="col-md-1">Duration:</div>
        <div class="col-md-1" v-if="language!=''">
          <input type="number" class="form-control" v-model="sound.sound_duration">
        </div>
        <div class="col-md-4">
          <audio controls v-if="audioSource!=null">
            <source :src="audioSource" />
          </audio>
        </div>
      </div>
      <!-- sound image(s) -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2 themed-grid-col">
          Image file:
        </div>
        <div class="col-md-4 themed-grid-col">
          <input
              type="file"
              class="form-control"
              accept="image/jpg,image/jpeg,image/png,image/gif"
              ref="imageFile"
              @change="onImageFile" multiple>
        </div>
        <div class="col-md-2 themed-grid-col" v-for="img in imgSrc">
          <img :src="img" class="img-preview">
        </div>
      </div>
      <!-- sound comments -->
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Question:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="sound.comment_0">
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Comment 1:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="sound.comment_1">
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Comment 2:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="sound.comment_2">
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Comment 3:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" v-model="sound.comment_3">
        </div>
      </div>
      <!-- loop style -->
      <div class="row p-1 my-1 align-items-center" v-if="language!=''">
        <div class="col-md-2">Animation style:</div>
        <div class="col-md-3">
          <select class="form-control mySelect"
              type="text" style="width: 100%;"
              v-model="sound.loop_type">
            <option value="normal">normal</option>
            <option value="dancing">dancing</option>
          </select>
        </div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "STMusicEdit",
  components: {
    TopBar
  },
  data () {
    return {
      sound: this.$store.state.currentSound,
      language: "",
      audioFile: null,
      audioSource: null,
      imageFiles: null,
      imgSrc: [],
      saveStatus: ""
    }
  },
  methods: {
    goTo(state) {
      this.$store.setState(state)
    },
    onAudioFile (evt) {
      this.audioFile = evt.target.files[0]
      this.audioSource = null
      let reader = new FileReader()
      reader.onload = (evt) => {
        this.audioSource = evt.target.result
      }
      reader.readAsDataURL(this.audioFile)
    },
    onImageFile (evt) {
      this.imageFiles = evt.target.files
      let length = this.imageFiles.length
      let firstName = evt.target.files[0].name
      this.imgSrc = []
      for (let i=0; i<length; i++) {
        let reader = new FileReader()
        reader.onload = (evt) => {
          this.imgSrc.push(evt.target.result)
        }
        reader.readAsDataURL(this.imageFiles[i])
      }
    },
    save() {
      let soundId = this.sound.id
      let targetPath = `soundTherapy/${this.language}/sounds/${soundId}/`
      // upload new music
      this.saveStatus = "uploading sound..."
      if (this.audioFile != null) {
        this.uploadMedia(this.audioSource, "sound", targetPath,
          (soundName) => {
            this.sound.sound_src = soundName
            this.uploadImage(targetPath)
          })
      } else {
        this.uploadImage(targetPath)
      }

    },
    uploadImage (targetPath) {
      // upload new image
      this.saveStatus = "uploading image..."
      if (this.imageFiles != null) {
        this.sound.sound_images = []
        for (let i=0; i<this.imgSrc.length; i++) {
          this.uploadMedia(this.imgSrc[i], "background" + i, targetPath,
            (imgName) => {
              this.sound.sound_images.push(imgName)
              if (i==this.imgSrc.length-1)
                this.uploadJson(targetPath)
            })
        }
      } else {
        this.uploadJson(targetPath)
      }
    },
    uploadJson (targetPath) {
      // upload new json
      this.saveStatus = "saving data..."
      if (["English", "Chinese"].indexOf(this.language) != -1) {
        this.robot.call("CGHManager", "save_json_to_path",
          () => {
            alert("save was successful")
            this.saveStatus = ""
          },
          this.onFailedSaving,
          targetPath + "data.json", JSON.stringify(this.sound, null, 2))
      } else {
        this.robot.call("CGHManager", "save_st_music_to_path",
          () => {
            alert("save was successful")
            this.saveStatus = ""
          },
          this.onFailedSaving,
          targetPath, JSON.stringify(this.sound, null, 2), this.language)
      }
    },
    uploadMedia (data, name, folder_path, callback) {
      let extension = data.split(";")[0].split("/")[1]
      let pureData = data.split(",")[1]
      let fileName = name + "." + extension
      this.robot.call("CGHManager", "save_image_to_path",
        () => {
          console.log(name + " saved")
          if (callback != undefined)
            callback(fileName)
        },
        this.onFailedSaving,
        folder_path + fileName, pureData)
    },
    onFailedSaving () {
      alert("error when saving")
      this.robot.call("CGHManager", "delete_folder_from_path",
        () => {
          console.log("aborted successfully")
        },
        console.log,
        `soundTherapy/${this.language}/sounds/${this.sound.id}`)
    }
  },
  mounted () {
    this.language = this.sound.language
    let sound_src = this.sound.sound_src
    let img_src = this.sound.sound_images
    let soundId = this.sound.id
    if (sound_src != null) {
      let extension = sound_src.split(".")[1]
      let path = `soundTherapy/${this.language}/sounds/${soundId}/${sound_src}`
      this.robot.call("CGHManager", "get_img_from_path",
        (data) => {
          this.audioSource = `data:audio/${extension};base64,${data}`
        }, console.log, path)
    }
    if (img_src.length > 0) {
      for (let i=0; i<img_src.length; i++) {
        let imgPath = `soundTherapy/${this.language}/sounds/${soundId}/${img_src[i]}`
        let imgExtention = img_src[i].split(".")[1]

        this.robot.call("CGHManager", "get_img_from_path",
          (data) => {
            this.imgSrc.push(`data:image/${imgExtention};base64,${data}`)
          }, console.log, imgPath)
      }
    }
  }
}
</script>