<template>
<div>
  <TopBar
      title="Sound Therapy: Overview of Sounds & Songs"
      backBtn
      @back="goTo('soundTherapy')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>

      <LanguageSelector :language="language" @changeLanguage="changeLanguage" />
      <h1>List of Sounds / Songs</h1>
      <div class="row mb-3 text-black align-items-center"
           v-for="sound in soundsList"
           :key="sound.name">
        <div class="col-md-6 themed-grid-col">
          <h2>{{ sound.name }}</h2>
        </div>
        <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
                type="button"
                class="btn btn-outline-none"
                @click="editSound(sound)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single sound/song data, to transfer to another Pepper."
                type="button"
                class="btn btn-outline-none"
                @click="downloadBackup(language, sound.id)" >
              <i class="fas fa-download"></i>
            </button>
            <button
                type="button"
                class="btn btn-outline-none"
                @click="deleteSound(sound)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="col-12 col-md-12 mb-12">

      <div class="row align-items-center justify-content-between borderedBox">
        <div class="col-3">
          <button
              class="btn btn-primary"
              @click="editSound(null)">
            Create New Sound
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" @click="openStInput">
            Upload Sound
          </button>
          <input type="file"
              id="backupStMusicUpload"
              accept="application/zip"
              style="display: none;"
              @change="sendFile">
        </div>
        <div class="col-3"></div>
      </div>

    </main>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'
import LanguageSelector from './LanguageSelector.vue'

export default {
  name: "STMusic",
  components: {
    TopBar, LanguageSelector
  },
  data () {
    return {
      language: this.$store.state.currentLanguage,
      soundsList: [],
      shortToLanguage: {
        "en": "English",
        "cn": "Chinese",
        "tm": "Tamil",
        "ml": "Malay"
      },
      languageToShort: {
        "English": "en",
        "Chinese": "cn",
        "Tamil": "tm",
        "Malay": "ml"
      }
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    editSound (sound) {
      if (sound == null) {
        this.$store.setCurrentSound({
          name: "",
          language: this.language,
          id: Date.now().toString().substring(2),
          type: "custom",
          sound_image: null,
          sound_src: null,
          sound_duration: 30,
          comment_1: "",
          comment_2: "",
          comment_3: "",
          loop_type: "normal"
        })
      } else {
        this.$store.setCurrentSound(sound)
      }
      this.$store.setState("stMusicEdit")
    },
    deleteSound (sound) {
      if (confirm("are you sure you want to delete this sound?")) {
        let soundId = sound.id
        this.robot.call("CGHManager", "delete_folder_from_path",
          this.loadSounds,
          (err) => { console.log(err)},
          `soundTherapy/${this.language}/sounds/${soundId}`)
      }
    },
    loadSounds () {
      this.robot.call("CGHManager", "get_sounds_list",
        (data) => {
          this.soundsList = JSON.parse(data)
          this.soundsList = this.soundsList.filter((sound) => {
            return sound.type == "custom"
          })
          this.soundsList.sort((a,b) => {
            if (a.name<b.name)
              return -1
            return 1
          })
          setTimeout(() => {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
          }, 500)
        }, console.log, this.language)
    },
    changeLanguage (language) {
      this.language = language
      this.$store.setCurrentLanguage(this.language)
      this.loadSounds()
    },
    downloadBackup (language, soundId) {
      this.robot.call("CGHManager", "download_folder",
        (data) => {
          console.log("received data")
          let lang = this.languageToShort[language]
          this.saveFile(`${soundId}.${lang}.zip`, data, "application/zip")
      }, (err) => {
          console.log(err)
      }, `soundTherapy/${language}/sounds/${soundId}`)
    },
    openStInput () {
      document.getElementById("backupStMusicUpload").click()
    },
    sendFile (evt) {
      let file = evt.target.files[0]
      // get file language and path
      let nameArr = file.name.split(".")
      if (nameArr.length != 3 || !this.shortToLanguage.hasOwnProperty(nameArr[1])) {
        alert("file can't be uploaded")
        document.getElementById("backupStMusicUpload").value = null
        return
      }
      let language = this.shortToLanguage[nameArr[1]]
      let targetPath = `soundTherapy/${language}/sounds/${nameArr[0]}`
      // let's upload this
      let reader = new FileReader()
      reader.onload = (readerEvt) => {
        if (readerEvt.target.readyState == 2) {
          let filecontent = readerEvt.target.result.substring(28)
          this.robot.call("CGHManager", "upload_folder",
            () => {
              alert("Sound Therapy music backup successully restored")
              this.loadSounds()
            },
            (err) => { console.log(err) },
            targetPath, filecontent)
          document.getElementById("backupStMusicUpload").value = null
        }
      }
      reader.readAsDataURL(file)
    }
  },
  mounted () {
    this.loadSounds()
  }
}
</script>