<template>
<div>
  <TopBar
      title="Sound Therapy: Create / Edit Preset"
      backBtn saveBtn @save="save"
      @back="goTo('soundTherapy')" />

  <div class="col-lg-10 mx-auto p-3">
    <main>
      <!-- language -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Language: </div>
        <div class="col-md-7">
          {{ language}}
        </div>
      </div>
      <!-- config name -->
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-2">Preset name:</div>
        <div class="col-md-5">
          <input type="text" class="form-control" v-model="preset.config_name">
        </div>
      </div>
      <!-- sounds list -->
      <div
          class="row p-1 my-1 align-items-center"
          v-for="(sound, index) in preset.sounds"
          :key="'set'+index"
          ref="sounds">
        <div class="col-md-2">
          <span v-if="index==0">Sounds list:</span>
        </div>
        <div class="col-md-5">
          <select class="form-control mySelect"
              type="text"
              v-model="sound.sound_id">
            <option
                v-for="option in soundsOptions"
                :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="col-md-2 offset-1">
          <button
              type="button"
              class="btn btn-outline-none"
              @click="deleteSound(index)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="row p-1 my-1 align-items-center">
        <div class="col-md-4 offset-2">
          <button class="btn btn-outline-success" @click="addSound">
            <i class="fas fa-plus-circle"></i>
            Add a sound
          </button>
        </div>
      </div>

    </main>
  </div>
  <!-- end header -->
  <div class="container fluid">
    <!-- add exercise -->
    <div class="row">
      <div class="col-3 offset-2">

      </div>
    </div>
  </div>
</div>
</template>

<script>
import TopBar from './TopBar.vue'

export default {
  name: "STPresetEdit",
  components: {
    TopBar
  },
  data () {
    return {
      preset: {},
      language: this.$store.state.currentLanguage,
      soundsList: []
    }
  },
  mounted () {
    // load sounds
    this.loadSounds()
    // load preset
    let presetId = this.$store.state.currentPresetId
    if (presetId != "") {
      this.robot.call("CGHManager", "get_json_from_path",
        (data) => {
          this.preset = JSON.parse(data)
          this.preset.id = presetId
        },
        null,
        `soundTherapy/${this.language}/presets/${presetId}`)
    } else {
      this.preset = {
        config_name: "",
        id: Date.now().toString().substring(2) + ".json",
        sounds: []
      }
      this.addSound()
    }
  },
  methods: {
    goTo (state) {
      this.$store.setState(state)
    },
    save () {
      for (let sound of this.preset.sounds) {
        if (sound.sound_id == null) {
          alert("one or more sound has no selected theme")
          return
        }
        this.getSoundTypeFromId(sound)
      }
      if (this.preset.sounds.length == 0) {
        alert("you need to add at least one sound")
        return
      }
      if (this.preset.config_name.length == 0) {
        alert("please give a name to this preset")
        return
      }
      this.robot.call("CGHManager", "save_json_to_path",
        () => alert("save successful"),
        (err) => alert(err),
        `soundTherapy/${this.language}/presets/${this.preset.id}`,
        JSON.stringify(this.preset, null, 2))
    },
    deleteSound (index) {
      this.preset.sounds.splice(index, 1)
    },
    addSound () {
      this.preset.sounds.push({
        sound_id: null,
        type: ""
      })
    },
    loadSounds () {
      this.robot.call("CGHManager", "get_sounds_list",
        (data) => {
          this.soundsList = JSON.parse(data)
          this.soundsList.sort((a,b) => {
            if (a.name<b.name)
              return -1
            return 1
          })
        }, null, this.language)
    },
    getSoundTypeFromId (aSound) {
      for (let sound of this.soundsList) {
        if (sound.id == aSound.sound_id)
          aSound.type = sound.type
      }
    }
  },
  computed: {
    soundsOptions () {
      let options = [{value: null, text: "Select a sound..."}]
      for (let sound of this.soundsList) {
        options.push({
          value: sound.id,
          text: sound.name
        })
      }
      return options
    }
  }
}
</script>