<template>
  <div>
    <TopBar
      title="Theme Song: Songs Available"
      backBtn
      downloadBtn
      @back="goTo('home')"
      @download="download"
    />

    <!-- <input type="file"
         id="roUploadInput"
         accept="application/zip"
         style="display: none;"
         @change="uploadBackup"> -->

    <div class="col-lg-10 mx-auto p-3">
      <main>
        <!-- <LanguageSelector :language="language" @changeLanguage="changeLanguage" /> -->

        <h1>Songs available</h1>

        <div
          class="row mb-3 text-black align-items-center"
          v-for="preset in presetsList"
          :key="preset.id"
        >
          <div class="col-md-6 themed-grid-col">
            <h2>{{ preset.name }}</h2>
          </div>
          <div class="col-md-6 themed-grid-col p-1 my-1 fa-1x cta-actions">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-outline-none"
                @click="createEditSong(preset.id)"
              >
                <i class="fas fa-edit"></i>
              </button>
              <!-- <button
                type="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="Download single preset, to transfer to another Pepper."
                class="btn btn-outline-none"
                @click="downloadBackup(language, preset.id)" >
              <i class="fas fa-download"></i>
            </button> -->
              <button
                type="button"
                class="btn btn-outline-none"
                @click="deletePreset(preset.id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <hr class="col-12 col-md-12 mb-12" />

        <div class="row align-items-center justify-content-between borderedBox">
          <div class="col-3">
            <button class="btn btn-primary" @click="createEditSong(null)">
              Add new Song
            </button>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import TopBar from "./TopBar.vue";
// import LanguageSelector from './LanguageSelector.vue'

export default {
  name: "ThemeSong",
  components: {
    TopBar,
    //  LanguageSelector
  },
  data() {
    return {
      presetsList: [],
      language: this.$store.state.currentLanguage,
      shortToLanguage: {
        en: "English",
        cn: "Chinese",
        tm: "Tamil",
        ml: "Malay",
      },
      languageToShort: {
        English: "en",
        Chinese: "cn",
        Tamil: "tm",
        Malay: "ml",
      },
    };
  },
  mounted() {
    this.fetchPresetsList();
  },
  methods: {
    goTo(state) {
      this.$store.setState(state);
    },
    changeLanguage(language) {
      this.language = language;
      this.$store.setCurrentLanguage(this.language);
      this.fetchPresetsList();
    },

    fetchPresetsList() {
      let path = "themeSong/presets/preset.json";
      this.robot.call(
        "CGHManager",
        "get_json_from_path",
        (data) => {
          if (data) {
            let songData = JSON.parse(data);
            this.presetsList = songData.presetData;
            this.$store.setSongData(songData);
            this.presetsList.sort((a, b) => {
              if (a.name < b.name) return -1;
              return 1;
            });
          } else {
            let songData = {
              presetData: [],
            };
            this.$store.setSongData(songData);
          }
        },
        null,
        path
      );
    },

    download() {
      this.robot.call(
        "CGHManager",
        "download_folder",
        (data) => {
          console.log("received data");
          this.saveFile("themeSongBackup.zip", data, "application/zip");
        },
        (err) => {
          console.log(err);
        },
        "themeSong"
      );
    },
    //to do
    //  openBackupInput () {
    //   document.getElementById("roUploadInput").click()
    // },

    //   uploadBackup (evt) {
    //   let file = evt.target.files[0]
    //   let reader = new FileReader()
    //   reader.onload = (readerEvt) => {
    //     if (readerEvt.target.readyState == 2) {
    //       let filecontent = readerEvt.target.result.substring(28)
    //       this.robot.call("CGHManager", "upload_folder",
    //         () => {
    //           alert("Reality Orientation backup successully restored")
    //           this.fetchData()
    //         },
    //         (err) => { console.log(err) },
    //         "realityOrientation", filecontent)
    //       document.getElementById("roUploadInput").value = null
    //     }
    //   }
    //   reader.readAsDataURL(file)
    // },

    deletePreset(songId) {
      if (confirm("are you sure you want to delete this sound?")) {
        let path = "themeSong/songs/" + songId;
        this.robot.call(
          "CGHManager",
          "delete_folder_from_path",
          this.loadSounds,
          (err) => {
            console.log(err);
          },
          path
        );
        this.updateSongList(songId);
      }
    },

    updateSongList(songId) {
      let path = "themeSong/presets" + "/preset.json";
      this.$store.state.songData.presetData.forEach(
        (element, index, object) => {
          if (element.id == songId) {
            object.splice(index, 1);
          }
        }
      );
      this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () => {
          this.saveStatus = "";
        },
        this.onFailedSaving,
        path,
        JSON.stringify(this.$store.state.songData, null, 2)
      );
    },

    sleep(ms) {
      return new Promise((resolve) => {
        setTimeout(resolve, ms);
      });
    },

    async getSongData(songId) {
      let path = "themeSong/songs/" + songId + "/data.json";
      let songData = null;
      this.robot.call(
        "CGHManager",
        "get_json_from_path",
        (data) => {
          songData = JSON.parse(data);
        },
        null,
        path
      );
      await this.sleep(1000);
      let song = {
        name: songData.name,
        pronunciation: songData.pronunciation,
        language: songData.language,
        id: songData.id,
        type: songData.type,
        sound_src: songData.sound_src,
        song_duration: songData.song_duration,
        edit: true,
      };
      this.$store.setCurrentSong(song);
      this.$store.setState("tsEdit");
    },

    createEditSong(song) {
      if (song == null) {
        this.$store.setPresetId("");
        this.$store.setCurrentSong({
          name: "",
          pronunciation: "",
          language: this.language,
          id: Date.now().toString().substring(2),
          type: "custom",
          sound_src: null,
          song_duration: 60,
        });
        this.$store.setState("tsEdit");
      } else {
        this.$store.setPresetId(song);
        this.getSongData(song);
      }
      this.$store.setCurrentLanguage(this.language);
    },
  },
};
</script>

