<template>
<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start fixed-header">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small backBtn" >

          <li v-if="backBtn">
            <a href="#" class="nav-link text-white" @click="$emit('back')">
                <i class="fas fa-caret-left fa-2x"></i>
            </a>
          </li>
        </ul>
        <span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none titleText">
          <h3>{{ title }}</h3>
        </span>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

          <li v-if="saveBtn">
            <a href="#" class="nav-link text-white" @click="$emit('save')">
                <i class="fas fa-save fa-2x"></i>
            </a>
          </li>

          <li v-if="downloadBtn">
            <a href="#" class="nav-link text-white" @click="$emit('download')"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download all content, only for this activity, from this Pepper to transfer to another Pepper.">
                <i class="fas fa-download fa-2x"></i>
            </a>
          </li>

          <li v-if="uploadBtn">
            <a href="#" class="nav-link text-white" @click="$emit('upload')"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Upload all content, only for this activity, from another Pepper to this Pepper. New content will override existing content on this Pepper.">
                <i class="fas fa-upload fa-2x"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>
</template>

<script>
export default {
  name: "TopBar",
  props: {
    backBtn: {
      type: Boolean,
      default: false
    },
    saveBtn: {
      type: Boolean,
      default: false
    },
    downloadBtn: {
      type: Boolean,
      default: false
    },
    uploadBtn: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      required: true
    }
  },
  mounted () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  }
}
</script>