<template>
  <div>
    <TopBar
      title="Theme Song: Create / Edit Song"
      backBtn
      saveBtn
      @save="save"
      @back="goTo('themeSong')"
    />

    <div class="col-lg-12 mx-auto p-3">
      <main>
        <!-- language -->
        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-3">Language:</div>
          <div class="col-md-7">All Language</div>
        </div>
        <!-- sound name -->
        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Song name:</div>
          <div class="col-md-4">
            <input type="text" class="form-control" v-model="song.name" />
          </div>
        </div>
        <!-- song pronunciation-->
        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2">Song pronunciation:</div>
          <div class="col-md-4">
            <input
              data-bs-toggle="tooltip" data-bs-placement="right" title="Please type how you would like Pepper to pronounce the song title."
              type="text"
              class="form-control"
              v-model="song.pronunciation"
            />
          </div>
        </div>

        <div class="row p-1 my-1 align-items-center">
          <div class="col-md-2 themed-grid-col">Song file:</div>
          <div class="col-md-4 themed-grid-col">
            <input
              type="file"
              class="form-control"
              accept="audio/ogg,audio/mp3,audio/wav"
              ref="imageFile"
              @change="onAudioFile"
              multiple
            />
          </div>
          <div class="col-md-1">Duration:</div>
          <div class="col-md-1" v-if="language != ''">
            <input
              type="number"
              class="form-control"
              v-model="song.song_duration"
            />
          </div>
          <div class="col-md-4">
            <audio controls v-if="audioSource != null">
              <source :src="audioSource" />
            </audio>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import TopBar from "./TopBar.vue";
export default {
  name: "TSEdit",
  components: {
    TopBar,
  },
  data() {
    return {
      song: this.$store.state.currentSong,
      songObject: this.$store.state.songData,
      language: this.$store.state.currentLanguage,
      audioFile: null,
      audioSource: null,
      saveStatus: "",
    };
  },
  mounted() {
    this.language = this.song.language;
    let sound_src = this.song.sound_src;
    let songId = this.song.id;
    if (sound_src != null) {
      let extension = sound_src.split(".")[1];
      let path = `themeSong/songs/${songId}/${sound_src}`;
      this.robot.call(
        "CGHManager",
        "get_img_from_path",
        (data) => {
          this.audioSource = `data:audio/${extension};base64,${data}`;
        },
        console.log,
        path
      );
    }
  },
  methods: {
    goTo(state) {
      this.$store.setState(state);
    },
    onAudioFile(evt) {
      this.audioFile = evt.target.files[0];
      this.audioSource = null;
      let reader = new FileReader();
      reader.onload = (evt) => {
        this.audioSource = evt.target.result;
      };
      reader.readAsDataURL(this.audioFile);
    },
    save() {
      let songId = this.song.id;
      let targetPath = `themeSong/songs/${songId}/`;
      // upload new music
      this.saveStatus = "uploading song...";
      let edit = false;
      if (this.song?.edit == true) {
        edit = true;
      }
      if (this.audioFile != null) {
        this.uploadMedia(this.audioSource, "song", targetPath, (songName) => {
          this.updateSongData(edit);
          this.song.sound_src = songName;
          this.uploadJson(targetPath);
        });
      } else {
        this.updateSongData(edit);
        this.uploadJson(targetPath);
      }
      // this.updateSongData()
    },
    uploadJson(targetPath) {
      // upload new json
      this.saveStatus = "saving data...";
      if (this.song?.edit == true) {
        delete this.song.edit;
      }
      this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () => {
          alert("save was successful");
          this.saveStatus = "";
        },
        this.onFailedSaving,
        targetPath + "data.json",
        JSON.stringify(this.song, null, 2)
      );
    },
    updateSongData(edit) {
      let path = "themeSong/presets/preset.json";
      let songList = this.$store.state.songData.presetData;
      let data = {
        name: this.song.name,
        id: this.song.id,
      };
      if (edit == true) {
        songList.forEach((element) => {
          if (element.id == this.song.id) {
            element.name = this.song.name;
          }
        });
      } else {
        songList.push(data);
      }

      let songData = {};
      songData["presetData"] = songList;
      this.robot.call(
        "CGHManager",
        "save_json_to_path",
        () => {
          this.saveStatus = "";
        },
        this.onFailedSaving,
        path,
        JSON.stringify(songData, null, 2)
      );
    },
    uploadMedia(data, name, folder_path, callback) {
      let extension = data.split(";")[0].split("/")[1];
      let pureData = data.split(",")[1];
      let fileName = name + "." + extension;
      this.robot.call(
        "CGHManager",
        "save_image_to_path",
        () => {
          console.log(name + " saved");
          if (callback != undefined) callback(fileName);
        },
        this.onFailedSaving,
        folder_path + fileName,
        pureData
      );
    },
    onFailedSaving() {
      alert("error when saving");
      this.robot.call(
        "CGHManager",
        "delete_folder_from_path",
        () => {
          console.log("aborted successfully");
        },
        console.log,
        `themeSong/song/${this.song.id}`
      );
    },
  },
};
</script>

