@font-face {
  font-family: Montserrat-Light;
  src: url("./font/Montserrat-Light.otf");
}

@font-face {
  font-family: Montserrat;
  src: url("./font/Montserrat-Regular.ttf");

}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./font/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./font/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: FontAwesome5Pro-Solid;
  src: url("./fonts/Font Awesome 5 Pro-Solid-900.otf");
  font-weight: normal;
}

.btn-scenario {
  width: 70%;
  font-size: 1.5em;
  margin-top: 20px;
  text-align:left;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

.backBtn {
  margin-left: -40px;
  margin-right: 40px;
  width: 30px;
}

.mySelect {
  appearance:  auto!important;
  width: 100%;
}

.titleText {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

body{
    background: #C9F0FF;
    font-family: Montserrat;
}



body.reality-orientation{background: #FFCC00;
}

body.sound-therapy{background: #1B998B; color: #fff !important;
}

.main-container {
    padding: 0.5em 0em;
}

.buttons-grid{
    text-align: center;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

.vh-90 {
  height: 90vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.vh-90 {
  height: 90vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.min-vh-70 {
  min-height: 70vh !important;
}

.vh-60 {
  height: 60vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.vh-40 {
  height: 40vh !important;
}

.min-vh-40 {
  min-height: 40vh !important;
}

.vh-30 {
  height: 30vh !important;
}

.min-vh-30 {
  min-height: 30vh !important;
}

.vh-20 {
  height: 20vh !important;
}

.min-vh-20 {
  min-height: 20vh !important;
}

.vh-10 {
  height: 10vh !important;
}

.min-vh-10 {
  min-height: 10vh !important;
}

.left {
  background: grey;
}

.right {
  background: black;
}

.white{
    color: #ffffff !important;
    padding: 0 0.5em;
}

.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}


.fixed-bottom i.fas.white.nav-link {
    font-size: 2.5em;
}

nav.navbar.fixed-bottom {
    padding: 0;
    margin: 0;
}

.fixed-bottom li.nav-item.nav-link {
    padding: 0;
    margin: 0;
}

.fixed-bottom .btn {
    padding: 0.2em 2em;
}

.main-wrapper {
  height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;
  width: 100%;
  margin: 15px 0;
}

.full {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.fixed-header{
    font-family: Montserrat;
}

h4 {
  color: white;
}


h1.header{
font-family: Montserrat-Bold;
font-size: 60px;
letter-spacing: 0;
text-align: center;
    padding-bottom: 0.1em
}

.caps{
    text-transform: uppercase;
}

.center-icon{
    margin: 0 auto;
        width: 100%;
}

.lg-text{
    font-size: 18em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
}

.lg-text-good-job{
     font-size: 12em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
}

.lg-text-answer{
     font-size: 10em;
    font-family: Montserrat-Bold;
    font-weight: bold;
       line-height: 1em;
    color: #fff;
        background: rgba(0,0,0,0.3);
}

.answer-spread{
    width: 100%;
    padding: 1em 0;
}

.answer-row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
        display: contents;
}

.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
}

.selection-item{
    background: #ffffff;
    font-size: 3em;
    font-family: Montserrat-Light;
}

.selection-item .fas{
    padding-right: 3em;
}

.text-black{
    color: #000000;
}

.b-example-divider {
    height: 0.5rem;

}

.tab-pane {
    padding: 2em 1em;
}

.bg-white{
    background: #ffffff;
}

.img-preview{
    width:130px;
    vertical-align: baseline;
}

.cta-actions{
    vertical-align: baseline;
}

.cta-actions-middle{
    vertical-align: middle;
}

.nav-tabs .nav-link {
    width: 15%;
}

.green{
    color: #1B998B;
}






.message>h1 {
  color: #1c1c1c;
  font-size: 84px;
  font-weight: 900;
	display: block;
	text-align: center;
	margin-top: 10vh;
}

.warning {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8vh;
	margin-top: 4vh;
}

.fas{
	margin: 0 10px;
}
.texts {
	margin: 0;
}

hr {
	margin: 0 auto;
}

.controlPanel {
	margin-top: 4vh;
}

.move {
	width: 33.3%;
	display: inline-block;
/*	margin: 0 -2vw 0 2vw;*/
}

.move i {
	color: #408458;
	font-size: 80px;
}

.row2 {
	display: flex;
	text-align: center;
}


.play-button {
	width: 33.3%;
	display: inline-block;
}

.play-button i{
	color: #2C2C2C;
	font-size: 60px;
}


.volume {
	margin-top: 40px;
	text-align: center;
}

#volume {
	width: 70%;
	margin: 0 10px 0 10px;
}

.turn {
	display: inline-block;
	width: 33.3%;
}



p {
  color: #333;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 26px;
	line-height: 1.3;
}


.btn-circle {
    width: 90px;
    height: 90px;
    padding: 6px 6px;
    border-radius: 90px;
    text-align: center;
    font-size: 50px;
		color: aliceblue;
    line-height: 1.42857;
}
