<template>
  <div id="app">
    <Home v-if="currentState=='home'" />
    <RealityOrientation v-if="currentState=='realityOrientation'" />
    <Exercise v-if="currentState=='exercises'" />
    <ExPresetEdit v-if="currentState=='exerciseEdit'" />
    <ExMusic v-if="currentState=='exerciseMusic'" />
    <SoundTherapy v-if="currentState=='soundTherapy'" />
    <STPresetEdit v-if="currentState=='stPresetEdit'" />
    <STMusic v-if="currentState=='stMusic'" />
    <STMusicEdit v-if="currentState=='stMusicEdit'" />
    <ThemeSong v-if="currentState=='themeSong'" />
    <TSEdit v-if="currentState=='tsEdit'" />
    <Quiz v-if="currentState=='quiz'" />
    <QzPresetEdit v-if="currentState=='qzEdit'" />
    <QzQuestionsList v-if="currentState=='qzList'" />
    <QzQuestionEdit v-if="currentState=='qzQuestionEdit'" />
    <RoleplayChoice v-if="currentState=='roleplayChoice'" />
    <RoleplayScenario1 v-if="currentState=='roleplay1'" />
    <RoleplayScenario1Edit v-if="currentState=='roleplay1Edit'" />
    <RoleplayScenario2 v-if="currentState=='roleplay2'" />
    <RoleplayScenario2Edit v-if="currentState=='roleplay2Edit'" />
    <MemoryGame v-if="currentState=='memoryGame'" />
    <MGPresetEdit v-if="currentState=='mgPresetEdit'" />
    <MGCategories v-if="currentState=='mgCategories'" />
    <MGCategoryEdit v-if="currentState=='mgCategoryEdit'" />
    <Categories v-if="currentState=='categories'" />
    <CatLocations v-if="currentState=='catLocations'" />
    <CatLocationEdit v-if="currentState=='catLocationEdit'" />
    <CatPresetEdit v-if="currentState=='catPresetEdit'" />
    <SimilarityGame v-if="currentState=='similarityGame'"/>
    <SGPreseEdit v-if="currentState=='sgPresetEdit'"/>
    <SGSequenceList v-if="currentState=='sgSequenceList'" />
    <SGSequenceEdit v-if="currentState=='sgSequenceEdit'"/>
  </div>
</template>

<script>
import Home from './components/Home.vue'
import RealityOrientation from "./components/RealityOrientation.vue"
import Exercise from './components/Exercise.vue'
import ExPresetEdit from './components/ExPresetEdit.vue'
import ExMusic from './components/ExMusic.vue'
import SoundTherapy from './components/SoundTherapy.vue'
import STPresetEdit from './components/STPresetEdit.vue'
import STMusic from './components/STMusic.vue'
import STMusicEdit from './components/STMusicEdit.vue'
import ThemeSong from './components/ThemeSong.vue'
import TSEdit from './components/TSEdit.vue'
import Quiz from './components/Quiz.vue'
import QzPresetEdit from './components/QzPresetEdit.vue'
import QzQuestionsList from './components/QzQuestionsList.vue'
import QzQuestionEdit from './components/QzQuestionEdit.vue'
import RoleplayChoice from './components/RoleplayChoice.vue'
import RoleplayScenario1 from './components/RoleplayScenario1.vue'
import RoleplayScenario1Edit from './components/RoleplayScenario1Edit.vue'
import RoleplayScenario2 from './components/RoleplayScenario2.vue'
import RoleplayScenario2Edit from './components/RoleplayScenario2Edit.vue'
import MemoryGame from './components/MemoryGame.vue'
import MGPresetEdit from './components/MGPresetEdit.vue'
import MGCategories from './components/MGCategories.vue'
import MGCategoryEdit from './components/MGCategoryEdit.vue'
import SimilarityGame from './components/SimilaritiesGame.vue'
import SGPreseEdit from './components/SGPresetEdit.vue'
import SGSequenceList from './components/SGSequenceList.vue'
import SGSequenceEdit from './components/SGSequenceEdit.vue'
import Categories from './components/Categories.vue'
import CatLocations from './components/CatLocations.vue'
import CatLocationEdit from './components/CatLocationEdit.vue'
import CatPresetEdit from './components/CatPresetEdit.vue'

export default {
  name: 'app',
  components: {
    RealityOrientation,
    Home,
    Exercise, ExPresetEdit, ExMusic,
    SoundTherapy, STPresetEdit, STMusic, STMusicEdit,
    ThemeSong, TSEdit, 
    Quiz, QzPresetEdit, QzQuestionsList, QzQuestionEdit,
    RoleplayChoice,
    RoleplayScenario1, RoleplayScenario1Edit,
    RoleplayScenario2, RoleplayScenario2Edit,
    MemoryGame, MGPresetEdit, MGCategories, MGCategoryEdit,
    Categories, CatLocations, CatLocationEdit, CatPresetEdit,
    SimilarityGame,SGPreseEdit,SGSequenceList,SGSequenceEdit

  },
  mounted () {
    const ip = this.getUrlParam("ip", undefined)
    if (!this.robot.isConnected) {
      this.robot.connect(ip, () => {
        console.log("connected")
      })
    }
  },
  computed: {
    currentState () {
      return this.$store.state.currentState
    }
  }
}
</script>